## Indian Start-Up Funding Ecosystem

In [1]:
# Import requisite libraries
import pyodbc    
from dotenv import dotenv_values
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Collection

In [2]:
# Access the 2018 dataset
url = 'https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/main/startup_funding2018.csv'

dat1 = pd.read_csv(url)
dat1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [3]:
dat1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [4]:
dat1["Amount"].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [5]:
dat1[dat1["Amount"].str.startswith("$")]

,Company Name,Industry,Round/Series,Amount,Location,About Company
86,WHR,"Health Care, Information Technology",Seed,"$143,145","Pune, Maharashtra, India",WHR is to make affordable healthcare a reality...
90,SBI Life,Insurance,Private Equity,"$742,000,000","Mumbai, Maharashtra, India",SBI Life is one of the life insurance company ...
93,NoPaperForms Solutions Pvt. Ltd.,"EdTech, Education, Information Services, SaaS",Series B,"$3,980,000","New Delhi, Delhi, India","NoPaperForms is a marketing automation, lead n..."
95,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra..."
101,Swiggy,"Food Delivery, Food Processing, Internet",Series H,"$1,000,000,000","Bangalore, Karnataka, India",Swiggy is a food ordering and delivery company...
102,Milkbasket,"E-Commerce, Food and Beverage, Internet",Series A,"$7,000,000","Haryana, Haryana, India","Milkbasket delivers milk, bread, eggs, butter,..."
104,Toppr,"EdTech, Education, Knowledge Management",Series C,"$35,000,000","Mumbai, Maharashtra, India",Toppr.com is an online preparation platform fo...
106,Vivriti Capital,Financial Services,Venture - Series Unknown,"$28,500,000","Chennai, Tamil Nadu, India",Vivriti Capital is an online platform for inst...
108,Impact Guru,"Creative Agency, Crowdfunding, EdTech, Health ...",Series A,"$2,000,000","Mumbai, Maharashtra, India",We're a Harvard incubated crowdfunding platfor...
114,OneAssist,"Financial Services, SaaS, Security",Debt Financing,"$2,400,000","Mumbai, Maharashtra, India",OneAssist is a protection & assistance service...
115,Satin Creditcare Network Limited (SCNL),"Banking, Finance, Financial Services, Non Profit",Post-IPO Debt,"$30,000,000","New Delhi, Delhi, India",Satin is a non-banking finance company providi...
117,Moglix,"B2B, E-Commerce, Mobile",Series C,"$23,000,000","Noida, Uttar Pradesh, India",Moglix is a supplier of industrial tools like ...
119,MadGuy Labs,E-Learning,Venture - Series Unknown,"$150,000","Hyderabad, Andhra Pradesh, India",MadGuy Labs is a Online Test-prep Platform.
122,Shop101,"Apps, E-Commerce, Internet",Series B,"$11,000,000","Mumbai, Maharashtra, India",#1 Online Selling App. India’s leading social ...
124,Housejoy,"Beauty, Fitness, Home Services, Internet",Series B,"$3,240,000","Bengaluru, Karnataka, India",Housejoy is a web-based platform that allows i...
130,BYJU’S,"EdTech, Education, Higher Education, Secondary...",Private Equity,"$540,000,000","Bangalore, Karnataka, India",BYJU’s is an edtech company that is reinventin...
134,PerkFinance,"Consumer Lending, FinTech",Seed,"$900,000","Bangalore, Karnataka, India",PerkFinance partners with employers to provide...
135,Roposo,"Internet, Social Network, TV",Series C,"$10,000,000","Gurgaon, Haryana, India",Roposo - TV by the People is a unique social m...
138,Wow Venue,Events,Venture - Series Unknown,"$1,500,000","Mumbai, Maharashtra, India",Wow Venue is an online platform.
143,MyNewCar.in,"Automotive, E-Commerce",Venture - Series Unknown,"$1,000,000","Gurgaon, Haryana, India",MyNewCar.in offers new cars at best price with...
144,HalaPlay Technologies,"Digital Entertainment, Fantasy Sports, Sports",Series A,"$5,000,000","Bangalore, Karnataka, India",A daily fantasy sports platform.
146,WheelsEMI,—,Series B,"$14,000,000","Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI..."
148,OYO,"Hospitality, Hotel, Leisure, Travel",Series E,"$100,000,000","Gurgaon, Haryana, India",OYO is an Indian hospitality startup that oper...
152,Shopkirana,"E-Commerce, Mobile, Retail",Venture - Series Unknown,"$2,000,000","Indore, Madhya Pradesh, India",Shopkirana connects brands and traditional ret...
159,Guiddoo World,"Audio, Mobile, Tourism, Travel",Seed,"$800,000","Mumbai, Maharashtra, India",We build In-Destination Experiences!
160,ION Energy,"Energy, Energy Storage, Infrastructure",Venture - Series Unknown,"$1,041,000","Mumbai, Maharashtra, India",A stealth startup building a layer of infrastr...
161,UnoTag,Artificial Intelligence,Pre-Seed,"$100,000","Bangalore, Karnataka, India",SaaS to verify counterfeit
162,CivilCops,"Government, Information Technology, Software",Pre-Seed,"$100,000","Gurgaon, Haryana, India",Gov-Tech
166,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community
349,Wicked Ride Adventure Services Private Limited,"Automotive, Last Mile Transportation, Peer to ...",Venture - Series Unknown,"$10,000,000","Bangalore, Karnataka, India",Peer-to-Peer motor vehicles sharing
351,ERUDITUS Executive Education,"Continuing Education, EdTech, Education, Skill...",Series C,"$40,000,000","Mumbai, Maharashtra, India","Eruditus, promoted by Alumni of INSEAD and oth..."
353,Square Off,"Internet of Things, Robotics",Seed,"$1,100,000","Mumbai, Maharashtra, India",Delivering Imagination
354,UrbanClap,"Apps, Home Services, Information Services, Inf...",Series D,"$50,000,000","Delhi, Delhi, India",UrbanClap is India's leading managed marketpla...
355,Hospals,"Medical, Tourism",Seed,"$1,500,000","New Delhi, Delhi, India",Hospals is a medical tourism company.
358,The Souled Store,"Fashion, Graphic Design, Wearables",Venture - Series Unknown,"$3,000,000","Mumbai, Maharashtra, India",The Souled Store bring to you awesome t-shirts...
360,Drivezy,"Automotive, Rental, Sharing Economy",Debt Financing,"$100,000,000","Bengaluru, Karnataka, India",Drivezy is India's largest vehicle sharing pla...
361,Freyr Energy,"Energy, Environmental Consulting, Renewable En...",Series A,"$1,500,000","Hyderabad, Andhra Pradesh, India",Freyr Energy is a company that provides full s...
362,NIRAMAI Health Analytix,"Health Care, Hospital",Seed,"$6,000,000","Bangalore, Karnataka, India",NIRAMAI has developed a novel breast cancer sc...
365,Verloop,"Customer Service, Information Technology, Inte...",Series A,"$3,000,000","Bangalore, Karnataka, India",Verloop is an automated customer support and e...
367,Paymatrix,"Credit Cards, Payments, Property Insurance, Pr...",Seed,"$100,000","Hyderabad, Andhra Pradesh, India",India's Leading Property Rent management platform
369,InCred,"Banking, Finance, Financial Services",Private Equity,"$41,900,000","Mumbai, Maharashtra, India",InCred Finance is a mumbai-based non-banking f...
370,Vedantu,"EdTech, Education, Mobile, Tutoring",Series B,"$11,000,000","Bangalore, Karnataka, India",Vedantu provides personalized LIVE Online Tuto...
372,Stelis Biopharma,Biopharma,Series B,"$100,000,000","Bangalore, Karnataka, India",Stelis Biopharma is a vertically integrated bi...
375,Mech Mocha,"Digital Entertainment, Mobile, PC Games",Series B,"$3,530,000","Bangalore, Karnataka, India",Mech Mocha is a mobile gaming startup based in...
377,Aldopay,Mobile Payments,Seed,"$200,000","Chennai, Tamil Nadu, India",Mobile Wallet Focusing on hassle free checkout...
378,Detect Technologies,"Artificial Intelligence, Energy, Oil and Gas",Series A,"$3,300,000","Chennai, Tamil Nadu, India",Completely automated remote control system.
380,CashRich,"Apps, Financial Services, FinTech",Seed,"$1,000,000","Mumbai, Maharashtra, India",A Mumbai-based fin-tech startup
384,Yaantra,"Information Services, Information Technology, ...",Debt Financing,"$2,000,000","Delhi, Delhi, India","Yaantra, India’s leading mobile phone repair, ..."
385,TECHBOOZE,Education,Seed,"$100,000","New Delhi, Delhi, India","Techbooze[1] ""AN OPEN FORUM"" is an educational..."
386,HealthifyMe,"Apps, Fitness, Health Care, mHealth",Series B,"$6,000,000","Bangalore, Karnataka, India",HealthifyMe is an application that allows its ...
389,Royal Sundaram General Insurance Co. Limited,"Health Insurance, Insurance, Life Insurance",Corporate Round,"$210,000,000","Kalpakkam, Tamil Nadu, India",Royal Sundaram provides comprehensive insuranc...
392,Spinny,"E-Commerce, E-Commerce Platforms, Internet, Re...",Series A,"$11,000,000","Gurgaon, Haryana, India",Used cars marketplace in India. Ushering new e...
396,Mobile Premier League (MPL),"Gaming, iOS, Sports",Series A,"$5,000,000","Bengaluru, Karnataka, India",Mobile Premier League(MPL) is a skill based E-...
397,WalMart India,Retail,Venture - Series Unknown,"$37,680,000","Gurgaon, Haryana, India",Wal-Mart India Private Limited is a wholly own...
399,Meesho,"E-Commerce, E-Commerce Platforms, Internet, Mo...",Series C,"$50,000,000","Bangalore, Karnataka, India",Meesho is an online reseller network of housew...
400,BhaskarGuru,Search Engine,Seed,"$1,000,000","Bhopal, Madhya Pradesh, India",Bhaskarguru.com is your local search Engine
401,Gugu,"Battery, Electric Vehicle, Energy, Renewable E...",Seed,"$250,000","Coimbatore, Tamil Nadu, India",Gugu designs & Sells all Electric Connected Tw...
403,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...
404,BIGPHI TECHNOLOGIES PVT. LTD.,Fashion,Angel,"$900,000","Bangalore, Karnataka, India",BIGPHI technologies is the India's first techn...

In [6]:

dat1['Amount'] = dat1['Amount'].str.replace(',', '')
dat1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [7]:
# Define a function to convert rupees to dollars
def convert_to_dollars(Amount):
    if Amount.startswith('₹'):
        return float(Amount[1:]) * 0.0146
    else:
        return Amount
 
# Apply the conversion function to the 'amount' column
dat1['Amount'] = dat1['Amount'].apply(convert_to_dollars)
dat1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,511000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [8]:
# Access the 2019 dataset

dat2 = pd.read_csv('dataset/startup_funding2019.csv')
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [9]:
#Renaming amount column in dataset 2#

dat2 = dat2.rename(columns={'Amount($)':'Amount'})
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [10]:
# Define a function to convert rupees to dollars
def convert_to_dollars(Amount):
    if Amount.startswith('₹'):
        return float(Amount[1:]) * 0.0146
    else:
        return Amount
 
# Apply the conversion function to the 'amount' column
dat2['Amount'] = dat2['Amount'].apply(convert_to_dollars)
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [11]:
#removing dollar sign
dat2['Amount']= dat2['Amount'].str.replace('$', '')
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","33,000,000",NaN

In [12]:
# remove commas
dat2['Amount']= dat2['Amount'].str.replace(',', '', regex= True)

dat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount         89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [13]:
dat2['Amount'].unique()

array(['6300000', '150000000', '28000000', '30000000', '6000000',
       'Undisclosed', '1000000', '20000000', '275000000', '22000000',
       '5000000', '140500', '540000000', '15000000', '182700', '12000000',
       '11000000', '15500000', '1500000', '5500000', '2500000', '140000',
       '230000000', '49400000', '32000000', '26000000', '150000',
       '400000', '2000000', '100000000', '8000000', '100000', '50000000',
       '120000000', '4000000', '6800000', '36000000', '5700000',
       '25000000', '600000', '70000000', '60000000', '220000', '2800000',
       '2100000', '7000000', '311000000', '4800000', '693000000',
       '33000000'], dtype=object)

In [14]:
dat2_undisclosed = dat2[dat2['Amount']=='Undisclosed']
dat2_undisclosed

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,A B2C brand that focusses on premium and comf...,"Abhay Bhat, Kinnar Shah",Venture Catalysts,Undisclosed,NaN
14,Open Secret,NaN,NaN,Food tech,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,Undisclosed,NaN
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,Aims to solve some problems in the feminine hy...,"Mohammed, Shashwat Diesh","Kunal Bahl, Rohit Bansal.",Undisclosed,Pre series A
23,DROR Labs Pvt. Ltd,2018.0,Delhi,Safety tech,It uses technology to create a trust-based net...,"Dhiraj Naubhar, Dheeraj Bansal",Inflection Point Ventures,Undisclosed,NaN
32,Pumpkart,2014.0,Chandigarh,E-marketplace,B2B model for appliances and electrical products,KS Bhatia,Dinesh Dua,Undisclosed,NaN
45,Afinoz,NaN,Noida,Fintech,Online financial marketplace for customized ra...,Rachna Suneja,Fintech innovation lab,Undisclosed,NaN
54,Ninjacart,2015.0,NaN,B2B Supply Chain,It connects producers of food directly to reta...,"Thirukumaran Nagarajanin, Vasudevan Chinnathambi","Walmart, Flipkart",Undisclosed,NaN
55,Binca Games,2014.0,Mumbai,Games,It offers games that are available across Indi...,"Rubianca Wadhwa, Sahil Wadhwa",Sunil Gavaskar,Undisclosed,NaN
65,Cubical Labs,2013.0,NaN,IoT,Home automation solution provider,"Dhruv Ratra, Swati Vyas",Rockstud Capital,Undisclosed,Series B
75,Sportido,2015.0,Noida,Sports,It is a sports discovery app that helps to fin...,"Neeraj Aggarwala, Akhil Ramachandran","Inflection Point Ventures, SucSEED Venture Par...",Undisclosed,Series B

In [15]:
dat2 = dat2[dat2['Amount']!='Undisclosed']
dat2['Amount'].unique()

array(['6300000', '150000000', '28000000', '30000000', '6000000',
       '1000000', '20000000', '275000000', '22000000', '5000000',
       '140500', '540000000', '15000000', '182700', '12000000',
       '11000000', '15500000', '1500000', '5500000', '2500000', '140000',
       '230000000', '49400000', '32000000', '26000000', '150000',
       '400000', '2000000', '100000000', '8000000', '100000', '50000000',
       '120000000', '4000000', '6800000', '36000000', '5700000',
       '25000000', '600000', '70000000', '60000000', '220000', '2800000',
       '2100000', '7000000', '311000000', '4800000', '693000000',
       '33000000'], dtype=object)

In [16]:
# convert amount to float
dat2['Amount']= dat2['Amount'].astype(float)
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,NaN

In [17]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER_NAME")
database = environment_variables.get("DATABASE_NAME")
username = environment_variables.get("DB_USERNAME")
password = environment_variables.get("PASSWORD")

In [18]:

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [19]:
connection = pyodbc.connect(connection_string)

In [20]:
query = "SELECT * FROM LP1_startup_funding2020"

dat3 = pd.read_sql(query, connection)
dat3.head

<bound method NDFrame.head of      Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin   2019.0     Chennai            AgriTech
1         Krayonnz   2019.0   Bangalore              EdTech
2     PadCare Labs   2018.0        Pune  Hygiene management
3            NCOME   2020.0   New Delhi              Escrow
4       Gramophone   2016.0      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu      NaN       Delhi              Edtech
1051         EpiFi      NaN        None             Fintech
1052       Purplle   2012.0      Mumbai           Cosmetics
1053        Shuttl   2015.0       Delhi           Transport
1054         Pando   2017.0     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage column10
0                           Angel investors    200000.0        None     None
1                           GSF Accelerator    100000.0    Pre-seed     None
2                            Venture Center         NaN    Pre-seed     None
3       Venture Catalysts, PointOne Capital    400000.0        None     None
4       Siana Capital Management, Info Edge    340000.0        None     None
...                                     ...         ...         ...      ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None     None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round     None
1052                             Verlinvest   8000000.0        None     None
1053             SIG Global India Fund LLP.   8043000.0    Series C     None
1054                      Chiratae Ventures   9000000.0    Series A     None

[1055 rows x 10 columns]>

In [21]:
query = "SELECT * FROM LP1_startup_funding2021"

dat4 = pd.read_sql(query, connection)
dat4.head

<bound method NDFrame.head of        Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor        Amount  \
0                       BEENEXT, Entrepreneur First    $1,200,000
1          Unilazer Ventures, IIFL Asset Management  $120,000,000
2                  GSV Ventures, Westbridge Capital   $30,000,000
3                            CDC Group, IDG Capital   $51,000,000
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    $2,000,000
...                                             ...           ...
1204                                Endiya Partners      $3000000
1205                                       IIFL AMC     $20000000
1206                                   Owl Ventures     $55000000
1207               Winter Capital, ETS, Man Capital     $26000000
1208                 3one4 Capital, Kalaari Capital      $8000000

             Stage
0     Pre-series A
1             None
2         Series D
3         Series C
4             Seed
...            ...
1204  Pre-series A
1205      Series D
1206      Series C
1207      Series B
1208      Series A

[1209 rows x 9 columns]>

In [22]:
dat3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [23]:
dat4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [24]:
dat3=dat3.drop('column10', axis=1)
dat3

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A

In [25]:
merged_table= pd.concat([dat3, dat4], ignore_index=True)
merged_table

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None
...,...,...,...,...,...,...,...,...,...
2259,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
2260,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
2261,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
2262,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
2263,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [26]:
#renaming company name columns
dat1.rename(columns={'Company Name':'Company_Brand'}, inplace= True)

dat2.rename(columns={'Company/Brand':'Company_Brand'}, inplace= True)

In [27]:
#renaming round/series to name columns
dat1.rename(columns={'Round/Series':'Stage'}, inplace= True)

In [28]:
#renaming Industry to name Sector
dat1.rename(columns={'Industry':'Sector'}, inplace= True)

In [29]:
#renaming Industry to name Sector
dat1.rename(columns={'About Company':'What it does'}, inplace= True)

In [30]:
#renaming Industry to name Sector
dat1.rename(columns={'Location':'HeadQuarter'}, inplace= True)

In [31]:
# extracting the locations in dat1
dat1['HeadQuarter']= dat1['HeadQuarter'].str.split(',').str[0]

In [32]:
print(dat1.columns)
print(dat2.columns)
print(merged_table.columns)

Index(['Company_Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter',
       'What it does'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [33]:
dat1.head(3)

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,Mumbai,A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,Gurgaon,Leading Online Loans Marketplace in India

In [34]:
dat2['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Noida', 'Delhi',
       'Bangalore', 'Ahmedabad', 'Haryana', 'Gurugram', 'Jaipur', 'Pune',
       'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad', 'Rajasthan'],
      dtype=object)

In [35]:
dat2.head(3)

,Company_Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding

In [36]:
merged_table.head(3)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed

In [44]:
#renaming What_it_does to What it does
merged_table.rename(columns={'What_it_does':'What it does'}, inplace= True)
merged_table

,Company_Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None
...,...,...,...,...,...,...,...,...,...
2259,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
2260,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
2261,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
2262,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
2263,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [45]:
#merging dat2, dat3, dat4
merger= pd.concat([dat2, merged_table], ignore_index=True)
merger

,Company_Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN
...,...,...,...,...,...,...,...,...,...
2336,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
2337,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
2338,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
2339,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
2340,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [46]:
#merging dat1, dat2, dat3, dat4
data_df= pd.concat([dat1, merger], ignore_index=True)
data_df

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,Bangalore,"TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,Mumbai,A startup which aggregates milk from dairy far...,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,Gurgaon,Leading Online Loans Marketplace in India,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,Noida,PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,Hyderabad,Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2862,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
2863,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2015.0,Bala Sarda,IIFL AMC
2864,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
2865,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
2866,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"

In [47]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2867 entries, 0 to 2866
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2867 non-null   object
 1   Sector         2849 non-null   object
 2   Stage          1938 non-null   object
 3   Amount         2610 non-null   object
 4   HeadQuarter    2756 non-null   object
 5   What it does   2867 non-null   object
 6   Founded        2102 non-null   float64
 7   Founders       2322 non-null   object
 8   Investor       2241 non-null   object
dtypes: float64(1), object(8)
memory usage: 201.7+ KB

In [48]:
data_df['Amount'].unique()

array(['250000', 584000.0, 949000.0, '2000000', '—', '1600000', 233600.0,
       730000.0, 1460000.0, '150000', '1100000', 7300.0, '6000000',
       '650000', 511000.0, 934400.0, 292000.0, '1000000', '5000000',
       '4000000', 438000.0, '2800000', '1700000', '1300000', 73000.0,
       182500.0, 219000.0, '500000', 1518400.0, 657000.0, '13400000',
       365000.0, 385440.0, 116800.0, 876.0, '9000000', '100000', '20000',
       '120000', 496400.0, 4993200.0, '$143145', 8760000.0, '$742000000',
       14600000.0, 29200000.0, '$3980000', '$10000', 1460.0, 3650000.0,
       '$1000000000', '$7000000', '$35000000', 8030000.0, '$28500000',
       '$2000000', 3504000.0, 1752000.0, '$2400000', '$30000000',
       36500000.0, '$23000000', '$150000', '$11000000', 642400.0,
       '$3240000', 876000.0, '$540000000', 9490000.0, 23360000.0,
       '$900000', '$10000000', '$1500000', 1022000.0, '$1000000',
       '$5000000', '$14000000', 1496500.0, '$100000000', 17520.0,
       75920000.0, '$800000', '$1041000', '$100000', '$15000', '1400000',
       '1200000', '2200000', '1800000', '3600000', 138700.0, '300000',
       '6830000', '200000', 2190000.0, '4300000', '364846', '400000',
       '1500000', 102200.0, 20440.0, 146000.0, 328500.0, '13200000',
       '50000', 2046920.0, '3000000', '1250000', '180000', 280320.0,
       1503800.0, '4200000', '175000', '1450000', 2920.0, '4500000',
       '600000', 242360.0, 175200.0, '15000000', 481800.0, '125000',
       '130000', 509540.0, 1051200.0, '17200000', 467200.0, '3500000',
       1971000.0, '12000000', '$40000000', '$1100000', '$50000000',
       22484000.0, '$3000000', '$6000000', 2044000.0, '$41900000',
       20586000.0, '$3530000', '$200000', '$3300000', 8468000.0, 525600.0,
       4964000.0, '$210000000', '$37680000', '$250000', '$20000',
       7446000.0, 32120000.0, '22000000', '70000', '10000000',
       224723200.0, 292000000.0, 58400000.0, '185000000', '65000000',
       2409000.0, '700000', '30000000', 3066000.0, '210000000',
       29632160.0, '75000000', 1168000.0, '1760000', '2700000', 4088000.0,
       11680000.0, '750000', '2500000', '80000000', '25000000',
       10658000.0, 5840000.0, '3700000', '5600000', 3796000.0, '99230000',
       '70000000', '40000', '550000', '50000000', '365000000', 127750.0,
       1138800.0, '28000000', 3854400.0, '100000000', 16498000.0,
       11826000.0, 20440000.0, '14900000', '225000000', '7500',
       '35000000', 6300000.0, 150000000.0, 28000000.0, 30000000.0,
       6000000.0, 1000000.0, 20000000.0, 275000000.0, 22000000.0,
       5000000.0, 140500.0, 540000000.0, 15000000.0, 182700.0, 12000000.0,
       11000000.0, 15500000.0, 1500000.0, 5500000.0, 2500000.0, 140000.0,
       230000000.0, 49400000.0, 32000000.0, 26000000.0, 150000.0,
       400000.0, 2000000.0, 100000000.0, 8000000.0, 100000.0, 50000000.0,
       120000000.0, 4000000.0, 6800000.0, 36000000.0, 5700000.0,
       25000000.0, 600000.0, 70000000.0, 60000000.0, 220000.0, 2800000.0,
       2100000.0, 7000000.0, 311000000.0, 4800000.0, 693000000.0,
       33000000.0, 200000.0, nan, 340000.0, 45000000.0, 1200000.0,
       660000000.0, 120000.0, 7500000.0, 500000.0, 3000000.0, 10000000.0,
       145000000.0, 21000000.0, 560000.0, 275000.0, 4500000.0,
       390000000.0, 5100000.0, 700000000.0, 2300000.0, 700000.0,
       19000000.0, 9000000.0, 40000000.0, 750000.0, 7800000.0, 80000000.0,
       1700000.0, 40000.0, 35000000.0, 300000.0, 3500000.0, 200000000.0,
       1300000.0, 4100000.0, 575000.0, 800000.0, 18000000.0, 3200000.0,
       900000.0, 250000.0, 4700000.0, 75000000.0, 121000000.0, 55000000.0,
       3300000.0, 16000000.0, 5400000.0, 4200000.0, 52000000.0, 1100000.0,
       118000000.0, 1600000.0, 18500000.0, 70000000000.0, 800000000.0,
       400000000.0, 176000000.0, 470000.0, 240000.0, 3000000000.0,
       74000000.0, 62000000.0, 500000000.0, 12500000.0, 2200000000.0,
       5060000.0, 225000000.0, 24700000.0, 7700000.0, 19067328.0,
       51000000.0, 115000.0, 54000.0, 20000.0, 803146.0, 238000.0,
       10220000.0, 1020000.0, 13400000.0, 170000000.0, 2900000.0,
       543000.0, 90000000.0, 3400000.0, 23000000.0, 8090000.0, 1030000.0,
       5040000.0, 360000.0, 1400000.0, 650000.0, 54000000.0, 42500000.0,
       11370000.0, 325000.0, 410000.0, 450000.0, 682000.0, 4050000.0,
       1050000.0, 1080000.0, 4300000.0, 2110000.0, 764000.0, 603000.0,
       409000.0, 286000.0, 136000.0, 546000.0, 887000.0, 43000.0, 40900.0,
       2200000.0, 5660000.0, 350000.0, 110000.0, 122000000.0, 11635000.0,
       1065000.0, 669000.0, 16076000.0, 649600.0, 6700000.0, 266500.0,
       2879000.0, 26500000.0, 351000.0, 46761000.0, 175000.0, 11241000.0,
       804000.0, 1340000.0, 467000.0, 133000.0, 3823000.0, 934000.0,
       293000.0, 198000.0, 927000.0, 971000.0, 3060000.0, 1862000.0,
       232000.0, 2888000.0, 1328000.0, 56000000.0, 2250000.0, 16753000.0,
       3700000.0, 1470000.0, 530000.0, 267000.0, 3344000.0, 7200000.0,
       2743000.0, 6082000.0, 6609000.0, 27700000.0, 5940000.0, 3964000.0,
       197000.0, 4327000.0, 459000.0, 3937000.0, 1313500.0, 229800.0,
       5305000.0, 264000.0, 1750000.0, 5967000.0, 2980000.0, 323000.0,
       1326000.0, 27000000.0, 5200000.0, 2530000.0, 792000.0, 11363000.0,
       1715000.0, 329000.0, 5271000.0, 8700000.0, 3226000.0, 5900000.0,
       44000000.0, 3879000.0, 13000000.0, 8800000.0, 9500000.0, 920000.0,
       35600000.0, 9400000.0, 790000.0, 480000.0, 160000.0, 8200000.0,
       4257000.0, 1410000.0, 349800.0, 786000.0, 2004000.0, 123000000.0,
       248000.0, 24000000.0, 14259000.0, 24500000.0, 3800000.0,
       18370000.0, 68525000.0, 1834000.0, 23850000.0, 43000000.0,
       21600000.0, 4598000.0, 13137000.0, 115000000.0, 3900000.0,
       670000.0, 8500000.0, 3148000.0, 2600000.0, 4049500.0, 10500000.0,
       6500000.0, 43700000.0, 13800000.0, 306900.0, 420000.0, 627300.0,
       113000000.0, 110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0,
       5600000.0, 1402000.0, 21500000.0, 296000000.0, 4900000.0,
       1402400.0, 12618300.0, 9900000.0, 982530.0, 70185200.0,
       210000000.0, 84000000.0, 39000000.0, 2700000.0, 1403400.0,
       105000000.0, 103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0,
       507000.0, 8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0,
       14700000.0, 13200000.0, 8043000.0, '$1,200,000', '$120,000,000',
       '$30,000,000', '$51,000,000', '$2,000,000', '$188,000,000',
       '$200,000', 'Undisclosed', '$1,000,000', '$3,000,000', '$100,000',
       '$700,000', '$9,000,000', '$40,000,000', '$49,000,000', '$400,000',
       '$300,000', '$25,000,000', '$160,000,000', '$150,000',
       '$1,800,000', '$5,000,000', '$850,000', '$53,000,000', '$500,000',
       '$1,100,000', '$6,000,000', '$800,000', '$10,000,000',
       '$21,000,000', '$7,500,000', '$26,000,000', '$7,400,000',
       '$1,500,000', '$600,000', '$800,000,000', '$17,000,000',
       '$3,500,000', '$15,000,000', '$215,000,000', '$2,500,000',
       '$350,000,000', '$5,500,000', '$83,000,000', '$110,000,000',
       '$500,000,000', '$65,000,000', '$150,000,000,000', '$300,000,000',
       '$2,200,000', '$35,000,000', '$140,000,000', '$4,000,000',
       '$13,000,000', None, '$Undisclosed', '$2500000', '$9500000',
       '$13000000', '$8000000', 'Upsparks', '$12000000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$500000',
       '$15000000', '$225000000', '$6700000', '$1300000', '$20000000',
       '$21000000', '$1200000', '$52000000', '$3800000', '$17500000',
       '$42000000', '$2300000', '$450000000', '$28000000', '$300000',
       '$3500000', '$8500000', '$25000000', '$37000000', '$370000000',
       '$700000', '$16000000', '$44000000', '$770000', '$125000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$225000', '$85000000',
       '$235000', '$260000', '$2900000', '$53000000', '$86000000',
       '$130000', '$$100,00', '$111000000', '$265000', '$76000000',
       '$100,000,000', '$75,000,000', '$3,800,000', '$12,000,000',
       '$1,600,000', '$260,000', '$1,000,000,000', '$18,000,000',
       '$20,000,000', '$350,000', '$95,000,000', '$4,100,000',
       '$5,200,000', '$8,000,000', '$1,400,000', '$2,600,000', '$900,000',
       '$250,000', '$16,000,000', '$7,000,000', '$11,000,000',
       '$280,000,000', '$50,000,000', '$14,300,000', '$81,000,000',
       '$1,300,000', '$8,200,000', '$70,000,000', '$720,000', '$600000',
       '$9000000', '$1800000', '$330000', '$undisclosed', '$200000000',
       '$36000000', '$67000000', '$10200000', '$220000000', '$108000000',
       '$75000000', '$450000', '$660000000', 'ah! Ventures', '$45000000',
       '$3200000', '$370000', 'Pre-series A',
       'ITO Angel Network, LetsVenture', '$48000000', '$3600000',
       '$192000000', '$65000000', '$1400000', '$1900000', '$41000000',
       '$144000000', '$5200000', '$270000000', '$140000', '$250000000',
       '$320000', '$350000000', '$4800000', '$38000000', '$125000',
       '$26000000', '$64000000', '$620000',
       'JITO Angel Network, LetsVenture', '$2600000', '$1,250,000',
       '$400,000,000', '$1,700,000', '$27,000,000', '$234,000,000',
       '$460,000,000', '$13,500,000', '$5,100,000', '$195,000,000',
       '$125,000', '$45,000,000', '$200,000,000', '$7,300,000',
       '$6,300,000', '$12,500,000', '$24,000,000', '$140,000',
       '$16,500,000', '$340,000', '$43,000,000', '$150,000,000',
       '$92000000', '$17000000', '$135000000', '$$1,55,000', '$2100000',
       '$840000000', '$248000000', '$4300000', '$570000', '$2200000',
       '$4700000', '$300000000', '$260000000', '$140000000', '$175000000',
       '$19000000', '$810000', '$7500000', '$600000000', '$90000000',
       '$5700000', '$6750000', '$78000000', '$5400000', '$115000000',
       '$255000000', '$18000000', '$570000000', '$550000', '$2700000',
       '$4200000', '$31000000', '$540000', '$340000', '$', '$6200000',
       '$750000', '$6300000', '$55000000'], dtype=object)

In [49]:
# removing the $
data_df['Amount']= data_df['Amount'].str.replace('$', '')

data_df['Amount'].unique()

array(['250000', nan, '2000000', '—', '1600000', '150000', '1100000',
       '6000000', '650000', '1000000', '5000000', '4000000', '2800000',
       '1700000', '1300000', '500000', '13400000', '9000000', '100000',
       '20000', '120000', '143145', '742000000', '3980000', '10000',
       '1000000000', '7000000', '35000000', '28500000', '2400000',
       '30000000', '23000000', '11000000', '3240000', '540000000',
       '900000', '10000000', '1500000', '14000000', '100000000', '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', '300000', '6830000', '200000', '4300000', '364846',
       '400000', '13200000', '50000', '3000000', '1250000', '180000',
       '4200000', '175000', '1450000', '4500000', '600000', '15000000',
       '125000', '130000', '17200000', '3500000', '12000000', '40000000',
       '50000000', '41900000', '3530000', '3300000', '210000000',
       '37680000', '22000000', '70000', '185000000', '65000000', '700000',
       '75000000', '1760000', '2700000', '750000', '2500000', '80000000',
       '25000000', '3700000', '5600000', '99230000', '70000000', '40000',
       '550000', '365000000', '28000000', '14900000', '225000000', '7500',
       '1,200,000', '120,000,000', '30,000,000', '51,000,000',
       '2,000,000', '188,000,000', '200,000', 'Undisclosed', '1,000,000',
       '3,000,000', '100,000', '700,000', '9,000,000', '40,000,000',
       '49,000,000', '400,000', '300,000', '25,000,000', '160,000,000',
       '150,000', '1,800,000', '5,000,000', '850,000', '53,000,000',
       '500,000', '1,100,000', '6,000,000', '800,000', '10,000,000',
       '21,000,000', '7,500,000', '26,000,000', '7,400,000', '1,500,000',
       '600,000', '800,000,000', '17,000,000', '3,500,000', '15,000,000',
       '215,000,000', '2,500,000', '350,000,000', '5,500,000',
       '83,000,000', '110,000,000', '500,000,000', '65,000,000',
       '150,000,000,000', '300,000,000', '2,200,000', '35,000,000',
       '140,000,000', '4,000,000', '13,000,000', None, '9500000',
       '13000000', '8000000', 'Upsparks', '5500000', '150000000',
       '6700000', '20000000', '21000000', '52000000', '3800000',
       '17500000', '42000000', '2300000', '450000000', '8500000',
       '37000000', '370000000', '16000000', '44000000', '770000',
       '125000000', '4900000', '145000000', '6600000', '32000000',
       '24000000', '725000', '461000', 'Series C', 'Seed', '96000000',
       '60000000', '500000000', '266000000', '325000000', '6500000',
       '225000', '85000000', '235000', '260000', '2900000', '53000000',
       '86000000', '100,00', '111000000', '265000', '76000000',
       '100,000,000', '75,000,000', '3,800,000', '12,000,000',
       '1,600,000', '260,000', '1,000,000,000', '18,000,000',
       '20,000,000', '350,000', '95,000,000', '4,100,000', '5,200,000',
       '8,000,000', '1,400,000', '2,600,000', '900,000', '250,000',
       '16,000,000', '7,000,000', '11,000,000', '280,000,000',
       '50,000,000', '14,300,000', '81,000,000', '1,300,000', '8,200,000',
       '70,000,000', '720,000', '330000', 'undisclosed', '200000000',
       '36000000', '67000000', '10200000', '220000000', '108000000',
       '450000', '660000000', 'ah! Ventures', '45000000', '3200000',
       '370000', 'Pre-series A', 'ITO Angel Network, LetsVenture',
       '48000000', '192000000', '1900000', '41000000', '144000000',
       '5200000', '270000000', '140000', '250000000', '320000',
       '350000000', '4800000', '38000000', '26000000', '64000000',
       '620000', 'JITO Angel Network, LetsVenture', '2600000',
       '1,250,000', '400,000,000', '1,700,000', '27,000,000',
       '234,000,000', '460,000,000', '13,500,000', '5,100,000',
       '195,000,000', '125,000', '45,000,000', '200,000,000', '7,300,000',
       '6,300,000', '12,500,000', '24,000,000', '140,000', '16,500,000',
       '340,000', '43,000,000', '150,000,000', '92000000', '17000000',
       '135000000', '1,55,000', '2100000', '840000000', '248000000',
       '570000', '4700000', '300000000', '260000000', '140000000',
       '175000000', '19000000', '810000', '7500000', '600000000',
       '90000000', '5700000', '6750000', '78000000', '5400000',
       '115000000', '255000000', '18000000', '570000000', '31000000',
       '540000', '340000', '', '6200000', '6300000', '55000000'],
      dtype=object)

In [50]:
# removing the ,
data_df['Amount']= data_df['Amount'].str.replace(',', '')

data_df['Amount'].unique()

array(['250000', nan, '2000000', '—', '1600000', '150000', '1100000',
       '6000000', '650000', '1000000', '5000000', '4000000', '2800000',
       '1700000', '1300000', '500000', '13400000', '9000000', '100000',
       '20000', '120000', '143145', '742000000', '3980000', '10000',
       '1000000000', '7000000', '35000000', '28500000', '2400000',
       '30000000', '23000000', '11000000', '3240000', '540000000',
       '900000', '10000000', '1500000', '14000000', '100000000', '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', '300000', '6830000', '200000', '4300000', '364846',
       '400000', '13200000', '50000', '3000000', '1250000', '180000',
       '4200000', '175000', '1450000', '4500000', '600000', '15000000',
       '125000', '130000', '17200000', '3500000', '12000000', '40000000',
       '50000000', '41900000', '3530000', '3300000', '210000000',
       '37680000', '22000000', '70000', '185000000', '65000000', '700000',
       '75000000', '1760000', '2700000', '750000', '2500000', '80000000',
       '25000000', '3700000', '5600000', '99230000', '70000000', '40000',
       '550000', '365000000', '28000000', '14900000', '225000000', '7500',
       '120000000', '51000000', '188000000', 'Undisclosed', '49000000',
       '160000000', '850000', '53000000', '21000000', '7500000',
       '26000000', '7400000', '800000000', '17000000', '215000000',
       '350000000', '5500000', '83000000', '110000000', '500000000',
       '150000000000', '300000000', '140000000', '13000000', None,
       '9500000', '8000000', 'Upsparks', '150000000', '6700000',
       '20000000', '52000000', '3800000', '17500000', '42000000',
       '2300000', '450000000', '8500000', '37000000', '370000000',
       '16000000', '44000000', '770000', '125000000', '4900000',
       '145000000', '6600000', '32000000', '24000000', '725000', '461000',
       'Series C', 'Seed', '96000000', '60000000', '266000000',
       '325000000', '6500000', '225000', '85000000', '235000', '260000',
       '2900000', '86000000', '111000000', '265000', '76000000',
       '18000000', '350000', '95000000', '4100000', '5200000', '2600000',
       '280000000', '14300000', '81000000', '8200000', '720000', '330000',
       'undisclosed', '200000000', '36000000', '67000000', '10200000',
       '220000000', '108000000', '450000', '660000000', 'ah! Ventures',
       '45000000', '3200000', '370000', 'Pre-series A',
       'ITO Angel Network LetsVenture', '48000000', '192000000',
       '1900000', '41000000', '144000000', '270000000', '140000',
       '250000000', '320000', '4800000', '38000000', '64000000', '620000',
       'JITO Angel Network LetsVenture', '400000000', '27000000',
       '234000000', '460000000', '13500000', '5100000', '195000000',
       '7300000', '6300000', '12500000', '16500000', '340000', '43000000',
       '92000000', '135000000', '155000', '2100000', '840000000',
       '248000000', '570000', '4700000', '260000000', '175000000',
       '19000000', '810000', '600000000', '90000000', '5700000',
       '6750000', '78000000', '5400000', '115000000', '255000000',
       '570000000', '31000000', '540000', '', '6200000', '55000000'],
      dtype=object)

In [51]:
# Filter the records where the amount column contains 'undisclosed'
undisclosed_data = data_df[data_df['Amount'] == 'Undisclosed']
undisclosed_data

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
1665,Qube Health,HealthTech,Pre-series A,Undisclosed,Mumbai,India's Most Respected Workplace Healthcare Ma...,2016.0,Gagan Kapur,Inflection Point Ventures
1666,Vitra.ai,Tech Startup,None,Undisclosed,Bangalore,Vitra.ai is an AI-based video translation plat...,2020.0,Akash Nidhi PS,Inflexor Ventures
1679,Uable,EdTech,Seed,Undisclosed,Bangalore,Uable offers role based programmes to empower ...,2020.0,Saurabh Saxena,"Chiratae Ventures, JAFCO Asia"
1697,TruNativ,Food & Beverages,Seed,Undisclosed,Mumbai,TruNativ Foods & Beverages Pvt Ltd,2019.0,"Pranav Malhotra, Mamta Malhotra",9Unicorns
1712,AntWak,EdTech,Seed,Undisclosed,Bangalore,AntWak provides a video platform for e-learnin...,2019.0,"Basav Nagur, Joybroto Ganguly, Sudhanshu Shekh...","Vaibhav Domkundwar, Kunal Shah"
...,...,...,...,...,...,...,...,...,...
2786,Leverage Edu,Higher Education,None,Undisclosed,New Delhi,India's Most Trusted Study Abroad Platform,2017.0,Akshay Chaturvedi,"Vijay Shekhar Sharma, Rohit Kapoor, Amanpreet ..."
2818,Atomberg Technologies,Consumer Electronics,None,Undisclosed,Mumbai,A maker of energy-efficient smart fans,2012.0,"Manoj Meena, Sibabrata Das",Ka Enterprises
2819,Genext Students,EdTech,None,Undisclosed,Mumbai,LIVE online classes with expert tutors for K-1...,2013.0,"Ali Asgar Kagzi, Piyush Dhanuka",Navneet Education
2824,OckyPocky,EdTech,Seed,Undisclosed,Gurugram,OckyPocky is India's 1st interactive English l...,2015.0,Amit Agrawal,"Sujeet Kumar, SucSEED Indovation Fund"
2851,Sapio Analytics,Computer Software,None,Undisclosed,Mumbai,Sapio helps government create policies driven ...,2019.0,"Hardik Somani, Ashwin Srivastava, Shripal Jain...","Rachit Poddar, Rajesh Gupta"

In [52]:
undisclosed_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116 entries, 1665 to 2851
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  116 non-null    object
 1   Sector         116 non-null    object
 2   Stage          59 non-null     object
 3   Amount         116 non-null    object
 4   HeadQuarter    116 non-null    object
 5   What it does   116 non-null    object
 6   Founded        116 non-null    float64
 7   Founders       116 non-null    object
 8   Investor       111 non-null    object
dtypes: float64(1), object(8)
memory usage: 9.1+ KB

In [53]:
# Remove the undisclosed records from Data_df
data_df = data_df[data_df['Amount']!='Undisclosed']
data_df['Amount'].unique()

array(['250000', nan, '2000000', '—', '1600000', '150000', '1100000',
       '6000000', '650000', '1000000', '5000000', '4000000', '2800000',
       '1700000', '1300000', '500000', '13400000', '9000000', '100000',
       '20000', '120000', '143145', '742000000', '3980000', '10000',
       '1000000000', '7000000', '35000000', '28500000', '2400000',
       '30000000', '23000000', '11000000', '3240000', '540000000',
       '900000', '10000000', '1500000', '14000000', '100000000', '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', '300000', '6830000', '200000', '4300000', '364846',
       '400000', '13200000', '50000', '3000000', '1250000', '180000',
       '4200000', '175000', '1450000', '4500000', '600000', '15000000',
       '125000', '130000', '17200000', '3500000', '12000000', '40000000',
       '50000000', '41900000', '3530000', '3300000', '210000000',
       '37680000', '22000000', '70000', '185000000', '65000000', '700000',
       '75000000', '1760000', '2700000', '750000', '2500000', '80000000',
       '25000000', '3700000', '5600000', '99230000', '70000000', '40000',
       '550000', '365000000', '28000000', '14900000', '225000000', '7500',
       '120000000', '51000000', '188000000', '49000000', '160000000',
       '850000', '53000000', '21000000', '7500000', '26000000', '7400000',
       '800000000', '17000000', '215000000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '150000000000', '300000000',
       '140000000', '13000000', None, '9500000', '8000000', 'Upsparks',
       '150000000', '6700000', '20000000', '52000000', '3800000',
       '17500000', '42000000', '2300000', '450000000', '8500000',
       '37000000', '370000000', '16000000', '44000000', '770000',
       '125000000', '4900000', '145000000', '6600000', '32000000',
       '24000000', '725000', '461000', 'Series C', 'Seed', '96000000',
       '60000000', '266000000', '325000000', '6500000', '225000',
       '85000000', '235000', '260000', '2900000', '86000000', '111000000',
       '265000', '76000000', '18000000', '350000', '95000000', '4100000',
       '5200000', '2600000', '280000000', '14300000', '81000000',
       '8200000', '720000', '330000', 'undisclosed', '200000000',
       '36000000', '67000000', '10200000', '220000000', '108000000',
       '450000', '660000000', 'ah! Ventures', '45000000', '3200000',
       '370000', 'Pre-series A', 'ITO Angel Network LetsVenture',
       '48000000', '192000000', '1900000', '41000000', '144000000',
       '270000000', '140000', '250000000', '320000', '4800000',
       '38000000', '64000000', '620000', 'JITO Angel Network LetsVenture',
       '400000000', '27000000', '234000000', '460000000', '13500000',
       '5100000', '195000000', '7300000', '6300000', '12500000',
       '16500000', '340000', '43000000', '92000000', '135000000',
       '155000', '2100000', '840000000', '248000000', '570000', '4700000',
       '260000000', '175000000', '19000000', '810000', '600000000',
       '90000000', '5700000', '6750000', '78000000', '5400000',
       '115000000', '255000000', '570000000', '31000000', '540000', '',
       '6200000', '55000000'], dtype=object)

In [55]:
# checking data that has amount has upsparks
data_df[data_df['Amount'] == 'Upsparks']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
1756,FanPlay,Computer Games,$1200000,Upsparks,Computer Games,A real money game app specializing in trivia g...,2020.0,YC W21,"Pritesh Kumar, Bharat Gupta"
1769,FanPlay,Computer Games,$1200000,Upsparks,Computer Games,A real money game app specializing in trivia g...,2020.0,YC W21,"Pritesh Kumar, Bharat Gupta"

In [56]:
# the script above printed two rows which are duplicates. so one of them were going to actually be removed
#then the data in the following columns ; Sector, stage, Amount and Headquarters do not give enough justification to keep
data_df = data_df[data_df['Amount'] != 'Upsparks']

In [63]:
# Remove dashes from the 'Amount' column
data_df['Amount'] = data_df['Amount'].replace('—', '')
data_df['Amount'].unique()

array(['250000', nan, '2000000', '', '1600000', '150000', '1100000',
       '6000000', '650000', '1000000', '5000000', '4000000', '2800000',
       '1700000', '1300000', '500000', '13400000', '9000000', '100000',
       '20000', '120000', '143145', '742000000', '3980000', '10000',
       '1000000000', '7000000', '35000000', '28500000', '2400000',
       '30000000', '23000000', '11000000', '3240000', '540000000',
       '900000', '10000000', '1500000', '14000000', '100000000', '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', '300000', '6830000', '200000', '4300000', '364846',
       '400000', '13200000', '50000', '3000000', '1250000', '180000',
       '4200000', '175000', '1450000', '4500000', '600000', '15000000',
       '125000', '130000', '17200000', '3500000', '12000000', '40000000',
       '50000000', '41900000', '3530000', '3300000', '210000000',
       '37680000', '22000000', '70000', '185000000', '65000000', '700000',
       '75000000', '1760000', '2700000', '750000', '2500000', '80000000',
       '25000000', '3700000', '5600000', '99230000', '70000000', '40000',
       '550000', '365000000', '28000000', '14900000', '225000000', '7500',
       '120000000', '51000000', '188000000', '49000000', '160000000',
       '850000', '53000000', '21000000', '7500000', '26000000', '7400000',
       '800000000', '17000000', '215000000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '150000000000', '300000000',
       '140000000', '13000000', None, '9500000', '8000000', '150000000',
       '6700000', '20000000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '450000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '4900000', '145000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'Series C', 'Seed', '96000000', '60000000',
       '266000000', '325000000', '6500000', '225000', '85000000',
       '235000', '260000', '2900000', '86000000', '111000000', '265000',
       '76000000', '18000000', '350000', '95000000', '4100000', '5200000',
       '2600000', '280000000', '14300000', '81000000', '8200000',
       '720000', '330000', 'undisclosed', '200000000', '36000000',
       '67000000', '10200000', '220000000', '108000000', '450000',
       '660000000', 'ah! Ventures', '45000000', '3200000', '370000',
       'Pre-series A', 'ITO Angel Network LetsVenture', '48000000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '140000', '250000000', '320000', '4800000', '38000000', '64000000',
       '620000', 'JITO Angel Network LetsVenture', '400000000',
       '27000000', '234000000', '460000000', '13500000', '5100000',
       '195000000', '7300000', '6300000', '12500000', '16500000',
       '340000', '43000000', '92000000', '135000000', '155000', '2100000',
       '840000000', '248000000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '5700000', '6750000', '78000000', '5400000', '115000000',
       '255000000', '570000000', '31000000', '540000', '6200000',
       '55000000'], dtype=object)

In [65]:
# Remove space from the 'Amount' column and convert to 0
data_df['Amount'] = data_df['Amount'].replace('', 0)
data_df['Amount'].unique()

array(['250000', nan, '2000000', 0, '1600000', '150000', '1100000',
       '6000000', '650000', '1000000', '5000000', '4000000', '2800000',
       '1700000', '1300000', '500000', '13400000', '9000000', '100000',
       '20000', '120000', '143145', '742000000', '3980000', '10000',
       '1000000000', '7000000', '35000000', '28500000', '2400000',
       '30000000', '23000000', '11000000', '3240000', '540000000',
       '900000', '10000000', '1500000', '14000000', '100000000', '800000',
       '1041000', '15000', '1400000', '1200000', '2200000', '1800000',
       '3600000', '300000', '6830000', '200000', '4300000', '364846',
       '400000', '13200000', '50000', '3000000', '1250000', '180000',
       '4200000', '175000', '1450000', '4500000', '600000', '15000000',
       '125000', '130000', '17200000', '3500000', '12000000', '40000000',
       '50000000', '41900000', '3530000', '3300000', '210000000',
       '37680000', '22000000', '70000', '185000000', '65000000', '700000',
       '75000000', '1760000', '2700000', '750000', '2500000', '80000000',
       '25000000', '3700000', '5600000', '99230000', '70000000', '40000',
       '550000', '365000000', '28000000', '14900000', '225000000', '7500',
       '120000000', '51000000', '188000000', '49000000', '160000000',
       '850000', '53000000', '21000000', '7500000', '26000000', '7400000',
       '800000000', '17000000', '215000000', '350000000', '5500000',
       '83000000', '110000000', '500000000', '150000000000', '300000000',
       '140000000', '13000000', None, '9500000', '8000000', '150000000',
       '6700000', '20000000', '52000000', '3800000', '17500000',
       '42000000', '2300000', '450000000', '8500000', '37000000',
       '370000000', '16000000', '44000000', '770000', '125000000',
       '4900000', '145000000', '6600000', '32000000', '24000000',
       '725000', '461000', 'Series C', 'Seed', '96000000', '60000000',
       '266000000', '325000000', '6500000', '225000', '85000000',
       '235000', '260000', '2900000', '86000000', '111000000', '265000',
       '76000000', '18000000', '350000', '95000000', '4100000', '5200000',
       '2600000', '280000000', '14300000', '81000000', '8200000',
       '720000', '330000', 'undisclosed', '200000000', '36000000',
       '67000000', '10200000', '220000000', '108000000', '450000',
       '660000000', 'ah! Ventures', '45000000', '3200000', '370000',
       'Pre-series A', 'ITO Angel Network LetsVenture', '48000000',
       '192000000', '1900000', '41000000', '144000000', '270000000',
       '140000', '250000000', '320000', '4800000', '38000000', '64000000',
       '620000', 'JITO Angel Network LetsVenture', '400000000',
       '27000000', '234000000', '460000000', '13500000', '5100000',
       '195000000', '7300000', '6300000', '12500000', '16500000',
       '340000', '43000000', '92000000', '135000000', '155000', '2100000',
       '840000000', '248000000', '570000', '4700000', '260000000',
       '175000000', '19000000', '810000', '600000000', '90000000',
       '5700000', '6750000', '78000000', '5400000', '115000000',
       '255000000', '570000000', '31000000', '540000', '6200000',
       '55000000'], dtype=object)

In [67]:
data_df[data_df['Amount'] == 'Series C']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
1900,Fullife Healthcare,Primary Business is Development and Manufactur...,None,Series C,Pharmaceuticals\t#REF!,Varun Khanna,2009.0,Morgan Stanley Private Equity Asia,$22000000
1914,Fullife Healthcare,Primary Business is Development and Manufactur...,None,Series C,Pharmaceuticals\t#REF!,Varun Khanna,2009.0,Morgan Stanley Private Equity Asia,$22000000

In [68]:
# Remove rows where the 'Amount' column is equal to 'Series C'
# These rows have been mislabeled and are duplicated.
data_df = data_df[data_df['Amount'] != 'Series C']

In [70]:
data_df[data_df['Amount'] == 'Seed']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
1915,MoEVing,MoEVing is India's only Electric Mobility focu...,None,Seed,Gurugram\t#REF!,"Vikash Mishra, Mragank Jain",2021.0,"Anshuman Maheshwary, Dr Srihari Raju Kalidindi",$5000000
2806,Godamwale,Logistics & Supply Chain,None,Seed,Mumbai,Godamwale is tech enabled integrated logistics...,2016.0,"Basant Kumar, Vivek Tiwari, Ranbir Nandan",1000000\t#REF!

In [71]:
# Remove rows where the 'Amount' column is equal to 'Seed'
# These rows have been mislabeled 
data_df = data_df[data_df['Amount'] != 'Seed']

In [76]:
# Convert undisclosed_data to DataFrame if it's not already
if not isinstance(undisclosed_data, pd.DataFrame):
    undisclosed_data = pd.DataFrame(undisclosed_data)

# Filter the additional records where the amount column contains 'Undisclosed' (both capital and lowercase)
additional_undisclosed_data = data_df[data_df['Amount'].str.lower() == 'undisclosed']

# Append the additional undisclosed records to the existing undisclosed_data
undisclosed_data = pd.concat([undisclosed_data, additional_undisclosed_data], ignore_index=True)

In [78]:
#remove undisclosed from amount
data_df=  data_df[data_df['Amount'].str.lower() != 'undisclosed']

In [80]:
data_df[data_df['Amount'] == 'ah! Ventures']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
2196,Little Leap,EdTech,$300000,ah! Ventures,New Delhi,Soft Skills that make Smart Leaders,2020.0,Holistic Development Programs for children in ...,Vishal Gupta

In [83]:
#remove ah! Ventures from amount
data_df=  data_df[data_df['Amount'] != 'ah! Ventures']

In [85]:
data_df[data_df['Amount'] == 'Pre-series A']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
2203,AdmitKard,EdTech,None,Pre-series A,Noida,A tech solution for end to end career advisory...,2016.0,"Vamsi Krishna, Pulkit Jain, Gaurav Munjal\t#REF!",$1000000

In [86]:
#remove ah! Ventures from amount
data_df=  data_df[data_df['Amount'] != 'Pre-series A']

In [88]:
data_df[data_df['Amount'] == 'ITO Angel Network LetsVenture']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
2209,BHyve,Human Resources,$300000,ITO Angel Network LetsVenture,Mumbai,A Future of Work Platform for diffusing Employ...,2020.0,Backed by 100x.VC,"Omkar Pandharkame, Ketaki Ogale"

In [89]:
#remove ITO Angel Network LetsVenture from amount
data_df=  data_df[data_df['Amount'] != 'ITO Angel Network LetsVenture']

In [92]:
data_df[data_df['Amount'] == 'JITO Angel Network LetsVenture']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
2335,Saarthi Pedagogy,EdTech,$1000000,JITO Angel Network LetsVenture,Ahmadabad,"India's fastest growing Pedagogy company, serv...",2015.0,Pedagogy,Sushil Agarwal

In [93]:
#remove ITO Angel Network LetsVenture from amount
data_df=  data_df[data_df['Amount'] != 'JITO Angel Network LetsVenture']

In [94]:
# Convert 'Amount' column to float 
data_df['Amount'] = data_df['Amount'].astype(float)

### Cleaning the Company_Brand column

In [95]:
data_df['Company_Brand'].unique()

array(['TheCollegeFever', 'Happy Cow Dairy', 'MyLoanCare', ...,
       'Cogos Technologies', 'Vahdam', 'WeRize'], dtype=object)

In [96]:
# Get unique values in the Company_Brand column
unique_company_brands = data_df['Company_Brand'].unique()

# Convert the unique values array to a list
unique_company_brands_list = unique_company_brands.tolist()

# Print the list of unique company brands
unique_company_brands_list

['TheCollegeFever',
 'Happy Cow Dairy',
 'MyLoanCare',
 'PayMe India',
 'Eunimart',
 'Hasura',
 'Tripshelf',
 'Hyperdata.IO',
 'Freightwalla',
 'Microchip Payments',
 'BizCrum Infotech Pvt. Ltd.',
 'Emojifi',
 'Flock',
 'Freshboxx',
 'Wide Mobility Mechatronics',
 'Pitstop',
 'Mihuru',
 'Fyle',
 'AppWharf',
 'Antariksh Waste Ventures Pvt ltd',
 'Cogoport',
 'PaisaDukan',
 'Sleepy Owl Coffee',
 'BlueJack',
 'PregBuddy',
 'AgNext Technologies',
 'Pando',
 'Mintifi',
 'Carcrew',
 'NicheAI',
 'Chariot Tech',
 'Ideal Insurance Brokers/ 121Policy.com',
 'Loanzen',
 'Mojro Technologies',
 'Elemential',
 'Loadshare',
 'Yumlane',
 'Kriger Campus',
 'Pipa+Bella',
 'Kaleidofin',
 'Chakr Innovation',
 'IndigoLearn',
 'UClean',
 'Coutloot',
 'Letstrack',
 'Pooltoo',
 'Finzy',
 'Fitternity',
 'Keito',
 'Tolet for Students',
 'Chai Kings',
 'Dainik Jagran',
 'Playtoome',
 'ONGO Framework',
 'Notesgen',
 'Arogya MedTech',
 'Propshop24',
 'myUpchar',
 'MissMalini Entertainment',
 'Rooter',
 'ZestMoney',
 'alphaics Corporation',
 'MyDentistChoice',
 'Sattviko',
 'Sensibull',
 'Bombay Shaving Company',
 'MedCords',
 'University Living',
 '&ME',
 'Enakshi',
 'Ultraviolette Automotive',
 'Inthree Access',
 'BUGWORKS Research India',
 'Guardian.in',
 'PrestLoans',
 'Wimoxez',
 'India Accelerator',
 'HappyEMI',
 'Wishup',
 'Hansel.io',
 'Propelld',
 'PivotRoots',
 'ZiffyHomes',
 'Carmesi',
 'OckyPocky',
 'Racetrack',
 'WHR',
 'Asteria Aerospace',
 'FabAlley',
 'Tranzmeo',
 'SBI Life',
 'Studds Accessories',
 'Design Cafe',
 'NoPaperForms Solutions Pvt. Ltd.',
 'Rays Power Infra',
 'AuthMetrik',
 'Khidki',
 'LetsTransport',
 'Next Digital Solutions',
 'Portea Medical',
 'Aavas Financiers',
 'Swiggy',
 'Milkbasket',
 'Nutrisattva (Proliva)',
 'Toppr',
 'Jagaran Microfin',
 'Vivriti Capital',
 'Be U Salons',
 'Impact Guru',
 'MobiKwik',
 'Stones2Milestones',
 'Generico',
 'Adiuvo Diagnostics',
 'DataTrained',
 'OneAssist',
 'Satin Creditcare Network Limited (SCNL)',
 'APAC Financial Services',
 'Moglix',
 'SEDEMAC Mechatronics',
 'MadGuy Labs',
 'Dee Dee Labs',
 'FLEECA',
 'Shop101',
 'FeedMyPockets',
 'Housejoy',
 'Ambee',
 'FoodBuddy',
 'Ninjacart',
 'Olly Smart Credit Card',
 'Zestl',
 'BYJU’S',
 'Wakefit',
 'Hero Electric',
 'Pentation Analytics',
 'PerkFinance',
 'Roposo',
 'Plum Goodness',
 'Drstore',
 'Wow Venue',
 'Chizel',
 'OTO Capital',
 'Boodmo',
 'Khabri',
 'MyNewCar.in',
 'HalaPlay Technologies',
 'PlanetSpark',
 'WheelsEMI',
 'Forum for Innovation Incubation Research and Entrepreneurship',
 'OYO',
 'Quikr',
 'Tabono',
 'LearnApp',
 'Shopkirana',
 'Fric Bergen',
 'Articbot',
 'BuildSupply',
 'Fusion Microfinance',
 'Any time Doctor',
 'Go Payments',
 'Guiddoo World',
 'ION Energy',
 'UnoTag',
 'CivilCops',
 'Rockmetric',
 'Classworks India',
 'Snapmint',
 'artbandhu',
 'Survaider',
 'Credy',
 'iChamp',
 'Qandle',
 'Avishkaar Box',
 'Gegadyne Energy',
 'HyperXchange',
 'Deftouch',
 'Doodhwala',
 'DronaHQ',
 'FastFox',
 'BuyForexOnline',
 'Colive.in',
 'Agricxlab Private Limited',
 'Corefactors',
 'Fincash.com',
 'Pandorum Technologies',
 'Shirsa Labs',
 'PetSutra',
 'Awaaz De',
 'PinkBlue',
 'Eduvanz',
 'Rupeek',
 'Backpacker Panda Holidays Private Limited',
 'Shape (School Health and Physical Education)',
 'Placio',
 'Aviom India Housing Finance',
 'GenRobotic',
 'HeyHolidays',
 'Pratilipi',
 'SectorQube',
 'Food Memories',
 'ZAMROO',
 'Silversparro Technologies Pvt. Ltd',
 'Creator’s Gurukul',
 'Emflux Motors',
 'Tricog Health Services Pvt Ltd',
 'Scapic',
 '6Degree',
 'Chrysalis (EZ Vidya)',
 'Ekincare',
 'Streo',
 'Groww',
 'Cell Propulsion',
 'Chezuba',
 'Ontrack Technologies Pvt. Ltd',
 'Wealthtrust',
 'Faclon Labs',
 'Awign Enterprises',
 'CollPoll',
 'Zyla Health',
 'Hubhopper',
 'Rubix108 Technologies',
 'Workflexi',
 'Streak',
 'Kuants',
 'NiYO Solutions',
 'Hippo Video',
 'Satvacart',
 'Daaki',
 'Simulanis',
 'MY CHIRAAG CAB',
 'WOTU',
 'Flathalt',
 'True Elements',
 'Trendlyne Technologies',
 'Planys Technologies',
 'HealthPlix',
 'dishq',
 'Entropik Technology',
 'myHQ',
 'Trell',
 'Kidovators (by GyanLab)',
 'Log 9 Materials',
 'VTION',
 'HousingMan.com',
 'Steradian Semiconductors',
 'RupeeCircle',
 'Wooden Street',
 'The Ken',
 'SaffronStays',
 'Vebbler',
 'Foyr',
 'MEngage',
 'Inner Being Wellness',
 'Kobster',
 'Wishberry',
 'McXtra',
 'Magic Crate',
 'SmartVizX',
 'MySEODoc',
 'ENLYFT DIGITAL SOLUTIONS PRIVATE LIMITED',
 'Scale Labs',
 'HungerBox',
 'Biryani By Kilo',
 'Wholesome Habits (EAT Anytime)',
 'GoBumpr',
 'Fixpocket',
 'edureka!',
 'Hashtag Loyalty Private Limited',
 'Wow Express',
 'ZunRoof',
 'Eggoz',
 'Sqrrl Fintech',
 'GalaxyCard',
 'IndiQube',
 'EGK Foods',
 'NirogStreet',
 'Pixr8',
 'Nivesh.com',
 'Theranosis Life Sciences',
 'Poshmiles Online Solutions Private Limited',
 'Reculta',
 'Orbo.ai',
 'Inntot Technologies',
 'Zoctr Health',
 'Hey Deedee',
 'DigiConnectt Technologys',
 'Locus.sh',
 'Sports Flashes Pvt. Ltd',
 'Inc42',
 'Picxy',
 'Huddle',
 'Benepik',
 'Cash Suvidha',
 'Smartcoin',
 'Carmel Organics',
 'Roadcast',
 'Printline Media(ThePrint)',
 'Creditas Solutions',
 'UrbanPiper',
 'Doxper',
 'i2ifunding',
 'ShakeDeal',
 'HelloVerify',
 'Fasal',
 'CoinGeto',
 'Avail Finance',
 'Tripeur',
 'Wedeterna',
 'Stumagz',
 'Doubtnut',
 'MCaffeine',
 'TrustCheckr',
 'HealthAssure',
 'Picture TIme',
 '1Crowd',
 'Aarav Unmanned Systems',
 'Wellthy Therapeutics Pvt Ltd',
 'Nua',
 'Kuvera.in',
 'Livehealth',
 'Gramophone',
 'Ora',
 'Buddy4Study.com',
 'Predible Health',
 'Syncremedies Healthcare Pvt Ltd',
 'Blueleaf Cyberspace Systems',
 'Toffee',
 'ORO Wealth',
 'HealWell24',
 'Acko General Insurance',
 'arzooo.com',
 'Bonphul Air Products',
 'DheeYantra Research Labs',
 'Edyoo',
 'Chtrbox',
 'Aashiyaan Housing and Development Finance',
 'BetterPlace Safety Solutions Pvt. Ltd.',
 'Cashkumar',
 'Rocketium',
 'FreightBazaar',
 'OPEN',
 'mfine',
 'Earth Food',
 'Charcoal Eats',
 'Wishfie',
 'The Social Hook',
 'FreightBro',
 'Finwego',
 'Cricnwin',
 'Wicked Ride Adventure Services Private Limited',
 'Career Anna',
 'ERUDITUS Executive Education',
 'Gaia Smart Cities',
 'Square Off',
 'UrbanClap',
 'Hospals',
 'Kogta Financial India Limited',
 'Perspectico',
 'The Souled Store',
 'Hush - Speak Up. Make Work Better',
 'Drivezy',
 'Freyr Energy',
 'NIRAMAI Health Analytix',
 'CloudSek',
 'Lendbox',
 'Verloop',
 'Flickstree',
 'Paymatrix',
 'Idha Skin Clinic',
 'InCred',
 'Vedantu',
 'Sportido',
 'Stelis Biopharma',
 'Magicpin',
 'Try & Buy',
 'Mech Mocha',
 'Aye Finance',
 'Aldopay',
 'Detect Technologies',
 'Signzy',
 'CashRich',
 'Cloudnine Hospitals',
 'CropIn Technologies',
 'Billdesk',
 'Yaantra',
 'TECHBOOZE',
 'HealthifyMe',
 'hoi foods',
 'Perpule',
 'Royal Sundaram General Insurance Co. Limited',
 'CleanseCar',
 'DRIVEU',
 'Spinny',
 'Asset Reconstruction Company (India) Ltd.',
 'Med365 Healthcare',
 'Dunzo',
 'Mobile Premier League (MPL)',
 'WalMart India',
 'Cred',
 'Meesho',
 'BhaskarGuru',
 'Gugu',
 'FarmTaaza',
 'Vizzbee',
 'BIGPHI TECHNOLOGIES PVT. LTD.',
 'Mobycy',
 'Traveo Soft Pvt. Ltd.',
 'Em Personal Care',
 'Lucideus',
 'Eupheus Learning',
 'GamingMonk',
 'Sukkhi Jewellery',
 'INDwealth',
 'Medikabazaar',
 'NIRA',
 'Duroflex Pvt. Ltd.',
 'Clensta',
 'Jetbrain Robotics',
 'Medimetry',
 'Healthkart',
 'Indiabulls Ventures',
 'Vistara',
 'ClearTax',
 'Shuttl',
 'GuruQ',
 'Azure Power',
 'Cube',
 'RAHI Care',
 'Mynvax',
 'Loans4SME',
 'UpCyclersLab',
 'Cellerite Systems',
 'Taru Naturals',
 'LetsMD',
 'Twenty Two Motors',
 'Truebil',
 'FarmersFZ',
 'Worxogo',
 'Vivish Technologies (myGate)',
 'Singularity Dynamics',
 'Virtual MetalStreet(MetalStreet)',
 'Veritas Finance',
 'Manjushree Technopack',
 'GoZefo',
 'Zomato',
 'Innov8 Coworking',
 'RevFin',
 'Lavelle Networks',
 'Blackbuck',
 'Cardekho',
 'ElasticRun',
 'Droom Technology Private Limited',
 'Vogo Rentals',
 'InnerChef',
 'LivQuik',
 'Disprz',
 '9stacks',
 'Origo',
 'YourOwnROOM',
 'Vahdam Teas',
 'Spoofin',
 'Strom Motors',
 'PharmEasy',
 'Licious',
 'Stanza Living',
 'docturnal',
 'Bounce (Metro Bikes)',
 'Technology 9 Labs (T9L)',
 'Goals101',
 'Satya MicroCapital',
 'Ummeed Housing Finance Private Limited',
 'StockEdge',
 'Sequretek',
 'Avenues Payments India Pvt. Ltd.',
 'Qbera',
 'Urban Ladder',
 'Planet11 eCommerce Solutions India (Avenue11)',
 'DailyNinja',
 'Iba Halal Care',
 'Knocksense',
 'Togedr',
 'Parkwheels',
 'ShareChat',
 'Cyclops Medtech',
 'Livspace',
 'NewsBytes',
 'Leena AI',
 'Max Healthcare',
 'GoBolt',
 'GoGaga',
 'Mate Labs',
 'Furlenco',
 'Ola',
 'DocPrime',
 'CLP India Pvt. Ltd.',
 'Xplorabox',
 'Myra',
 'Vokal',
 'Kissht',
 'Upwards Fintech',
 'Bon(Bonfleet Solutions)',
 'Mamaearth',
 'BabyChakra',
 'Belstar Investment and Finance Private Limited',
 'Naaptol',
 'Moonshine Meadery',
 'Verzeo',
 'Haazri',
 'Connect India',
 'Flyrobe',
 'Scholify',
 'Dream11',
 'srJna',
 'Nykaa',
 'Chaayos',
 'Heelium',
 'LT Foods',
 'Multibashi',
 'Cleardekho',
 'Dailyhunt',
 'SlicePay',
 'Udaan',
 'Happyeasygo Group',
 'Mombay',
 'Droni Tech',
 'Netmeds',
 'Bombay Shaving',
 'Ruangguru',
 'Eduisfun',
 'HomeLane',
 'Nu Genes',
 'Kratikal',
 'Quantiphi',
 'Lenskart',
 'Appnomic',
 'JobSquare',
 'LivFin',
 "Byju's",
 'Zest Money',
 'Witblox',
 'SalaryFits',
 'Pristyn Care',
 'Springboard',
 'Medlife',
 'Seekify',
 'Toffee Insurance',
 'Fireflies .ai',
 'Bijak',
 'truMe',
 'Rivigo',
 'HappyEasyGo',
 'Zetwerk',
 'Observe.AI',
 'Freshokartz',
 'Lil’ Goodness and sCool meal',
 'VMate',
 'Bombay Shirt Company',
 'Slintel',
 'MyGameMate',
 'Rein Games',
 'Ecozen',
 'Box8',
 'Purplle',
 'TapChief',
 'eJOHRI',
 'KredX',
 'm.Paani',
 'WishADish',
 'Ecom Express',
 'PiBeam',
 'Euler Motors',
 'Moms Co',
 'Lawyered',
 'Cuemath',
 'Zebu',
 'Smart Institute',
 'CarDekho',
 'Shadowfax',
 'Credr',
 'Phable',
 'Sarva',
 'IndyFint',
 'Zolostays',
 'Zoomcar',
 'Froogal',
 'Infra.Market',
 'Oyo',
 'GoMechanic',
 'Ess Kay Fincorp',
 'Aqgromalin',
 'Krayonnz',
 'PadCare Labs',
 'NCOME',
 'qZense',
 'MyClassboard',
 'Metvy',
 'Gig India',
 'Slurrp Farm',
 'Medfin',
 'MasterG',
 'Brila 91',
 'FoodyBuddy',
 'OurEye.ai',
 'Shiprocket',
 'Pine Labs',
 'Moneyboxx Finance',
 'EWar',
 'SucSEED Indovation',
 'TaxBuddy.com',
 'Circle of Angels',
 'CoinDCX',
 'Glance',
 'VerSe Innovation',
 'Voosh',
 'Delhivery',
 'Arya',
 'Pickrr',
 'PhonePe',
 'Countingwell',
 'Callify.ai',
 'Hudle',
 'Cover it Up',
 'BiteSpeed',
 'WakeFit',
 'Sreyas Holistic Remedies',
 'Fleeca India',
 'M1xchange',
 'Exotel',
 'PagarBook',
 'PointOne Capital',
 'Ayana',
 'Fisdom',
 'Tinker Coders',
 'Infinite Uptime',
 'HappyLocate',
 'Loop Health',
 'NeoDocs',
 'The ePlane',
 'TagMango',
 'The New Shop',
 'DebugsBunny',
 'BHIVE Investech',
 'ZipLoan',
 'Swipez',
 'Humus',
 'Artivatic.ai',
 'Prescinto',
 'Toppeq',
 'Bolo Indya',
 'Bombay Play',
 'FreshToHome',
 'KIKO TV',
 'Atomberg Technologies',
 'DealShare',
 'Smallcase',
 'CueMath',
 'Gamerji',
 '5C Network',
 'Ethereum Push Notification Service',
 'Mihup',
 'RuralBasket',
 'WayCool Foods',
 'Info Edge Venture',
 'Clovia',
 'Codingal',
 'CRED',
 'Vistaar Finance',
 "Let's Dive",
 'Habitat',
 'SAWO Labs',
 'KopyKitab',
 'Kyt',
 'Raskik',
 'GetWork',
 'Pravasirojgar',
 'Omatra Hotels',
 'Awign',
 'NewsReach',
 'Cashfree',
 'Credgenics',
 'GeoIQ',
 'Country Delight',
 'Quintype',
 'CARS24',
 'Astrogate Labs',
 'Power Gummies',
 'Cityflo',
 'AlgoBulls',
 'Inntot',
 'Ensuredit',
 'Shipsy',
 'ERPNext',
 'LightSpeedAI',
 'Grip Invest',
 'Unacademy',
 'Yellow Classes',
 'Plum',
 'STAGE',
 'Kaagaz Scanner',
 'Prolixr',
 'DaMENSCH',
 'SignalX',
 'Lancify',
 'Krimanshi',
 'Instoried',
 'PlayerzPot',
 'Instamojo',
 'Turtlemint',
 'Arata',
 'MPL',
 'True Balance',
 'Thrive',
 'Kitchens Centre',
 'Prescribe',
 'Nepra',
 'inFeedo',
 'Shilpa Sciences',
 'Arzooo',
 'MindTickle',
 'Slice',
 'Rapawalk',
 "Oga Fit's",
 'LAVAL',
 'Stride Ventures',
 'BlackSoil',
 'Biocon',
 'Clientjoy',
 'Xpressbees',
 'Wellness Forever',
 'MoooFarm',
 'BitClass',
 'Gonuts',
 'Uolo',
 'Kirana King',
 'Jade Forest',
 'iKure',
 'FrontRow',
 'Reliance Retail',
 'TUBBR',
 'Ather Energy',
 'Routematic',
 'Universal Sportsbiz Pvt Ltd',
 'Lattu Kids',
 'CHARGE+ZONE',
 'Stones2milestones',
 'Udacity',
 'AjnaLens',
 'Gully Network',
 'TurboHire',
 'Traya',
 'Mitron TV',
 'Svami',
 'Dhurnia',
 'Expertrons',
 'Bizlog',
 'Tamasha.live',
 'Fedo',
 'FabHotels',
 'FlexiLoans',
 'Agrix',
 'BharatAgri',
 'FreshtoHome',
 'Credable',
 'Railofy',
 'Finova Capital',
 'Teachmint',
 'Peel-Works',
 'Janani',
 'Finelistings',
 'Wellversed',
 'Jumbotail',
 'Winzo',
 'mCaffeine',
 'Pocket FM',
 'Snackible',
 'TagZ Foods',
 'Genius Teacher',
 'Krimanshi Feeds',
 'GetVantage',
 'Betterplace',
 'Biddano',
 'InVideo',
 'Hubilo',
 'BASIC Home Loan',
 'Ketos',
 'SUGAR cosmetics',
 'Ahaguru',
 'Tekion',
 'Brighteye Ventures',
 'EzeRx',
 'VitalTech',
 'Tring',
 'Rare Planet',
 'GoodGamer',
 'InnAccel',
 'Tiliter',
 'SoOLEGAL',
 'HobSpace',
 'Supplynote',
 'Hire Me Car',
 'ShopUp',
 'Harmonizer India',
 'Dukaan',
 'CredR',
 'Satyukt',
 'RACEnergy',
 'TREAD',
 'Anveshan',
 'TeaMonk',
 'Fleetx',
 'ReNEWate',
 'Tango Eye',
 'Avataa Me',
 'Arrival',
 'Cover Genius',
 'Phononic Vibes',
 'MikeLegal',
 'Clair',
 'Gourmet Garden',
 'Miko',
 'Razorpay',
 'Wow! Momo',
 'Pepper Content',
 'LIVSPACE',
 'Acculi Labs',
 'Your MD',
 'Antaios',
 'Unnati',
 'Uni',
 'Credit Wise Capital',
 'Chargebee',
 'Reliance Retail Ventures Ltd',
 'Winuall',
 'Genrobotics',
 'Livve',
 'Ergos',
 'Krishitantra',
 'PakkaProfile',
 'Monet Networks',
 'Unocoin',
 'Pesto',
 'Bambrew',
 'Omnify',
 'Fanball XI',
 'Treebo Hotels',
 'GPS Renewables',
 'Public',
 'Legal Salah',
 'FanPlay',
 'ECOSTP',
 'Coralogix',
 'Equiwatt',
 'Reliance Retail Ventures',
 'Zhangmen',
 'AgroWave',
 'Sapio Analytics',
 'Taimei',
 'Avanse Financial Services',
 'Industry Buying',
 'Hopscotch',
 'WoodenStreet',
 'ACKO',
 'Farmers Fresh Zone',
 'Invento',
 'Infurnia',
 "AnalytIQSports's SuperCric",
 'Snowflake',
 'GenieTalk',
 'Classplus',
 'Mobile Premier League',
 'Fourth Partner Energy',
 'Flipkart',
 'InsuranceDekho',
 'BestDoc',
 'Byju’s',
 'Melorra',
 'Reliance',
 'Inflexor Ventures',
 'Pandorum',
 'SpeakIn',
 'LetsUp',
 'Newsreach',
 'JetSynthesys',
 'Vesta Space Technology',
 'Dozee',
 'Rebel Foods',
 'Ketto',
 'Suryoday',
 'SucSEED',
 'Strata',
 '3one4 Capital',
 'WE-Hub',
 'Vicara',
 'Gaana',
 'EM3 Agri',
 'Odwen',
 'Trukky',
 'BankBazaar',
 'Specsmakers',
 'Grinntech',
 'CreditMantri',
 'Chai Waale',
 'Deepsync',
 'ConnectedH',
 'QShala',
 'Customfit ai',
 'Nirmata',
 'Oga Fit',
 'ShipsKart',
 'SquadStack',
 'Financepeer',
 'Cashify',
 'Etrio',
 'Codeyoung',
 'StayQrious',
 'Sunstone Eduversity',
 'Infilect',
 'MobiGarage',
 'Samunnati',
 'WeInnovate Biosolutions',
 'Yummy Corp',
 'Clairvolex',
 'Assiduus',
 'Brinton',
 'AFK Gaming',
 'Infarm',
 'Zuper',
 'Origa',
 'GullyBuy Software',
 'Recordent',
 'Penny',
 'Onsitego',
 'Precily',
 'SmartClean',
 'ClanConnect',
 'Servify',
 'Rephrase.ai',
 'EkAnek',
 'Cub McPaws',
 'Zimyo',
 'PumPumPum',
 'Burgerama',
 'DillyHub',
 'FPL Technologies',
 'FITTR',
 'Illumnus',
 'CashKaro',
 'Newton School',
 'Airmeet',
 'Observe ai',
 'CarTrade',
 'LEAD School',
 'Lido Learning',
 'Apna.co',
 'Quintype Technologies',
 'Entropik',
 'WinZO',
 'SenseHawk',
 'Eloelo',
 'Aibono',
 'BuildPan',
 'Homelane',
 'MyGlamm',
 'Aviom',
 'Flinto',
 'WayCool',
 'YAP',
 'Big Bang Boom Solutions',
 'GUVI',
 'BluSmart',
 'Spoonshot',
 'Pulse',
 'i3 Systems',
 'SOAL',
 'Qapita',
 'Sunday',
 'Gamezop',
 'Phool.co',
 'Chiratae Ventures',
 'MedLife',
 'IDfy',
 'Bira91',
 'Max wholesale',
 'Craftsvilla',
 'MechMocha',
 'Mindhouse',
 'DeepSync',
 'Eruditus',
 'Gradeup',
 'Tracxn',
 'Purple Style Labs',
 'ProPhysio',
 'Settl',
 'Fanspole',
 'Univ.ai',
 'PurohitJi',
 'CredoLab',
 'Brick&Bolt',
 'Exprs',
 'Bikayi',
 'Virtual Forest',
 ...]

### Cleaning the Sector column

In [97]:
data_df['Sector'].unique()

array(['Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Agriculture, Farming',
       'Credit, Financial Services, Lending, Marketplace',
       'Financial Services, FinTech',
       'E-Commerce Platforms, Retail, SaaS',
       'Cloud Infrastructure, PaaS, SaaS',
       'Internet, Leisure, Marketplace', 'Market Research',
       'Information Services, Information Technology', 'Mobile Payments',
       'B2B, Shoes', 'Internet',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Food Delivery', 'Industrial Automation',
       'Automotive, Search Engine, Service Industry',
       'Finance, Internet, Travel',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Internet of Things, Waste Management',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Financial Services', 'Food and Beverage', 'Autonomous Vehicles',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Agriculture, Analytics, Big Data, Farming',
       'Logistics, Supply Chain Management',
       'Financial Services, Lending',
       'Automotive, Marketplace, Online Portals',
       'Artificial Intelligence',
       'Internet of Things, Telecommunications', 'Insurance',
       'Information Technology, Logistics, Supply Chain Management',
       'Blockchain, Developer Tools, Enterprise Software',
       'Industrial Automation, Logistics, Supply Chain Management',
       'Food and Beverage, Food Delivery, Snack Food', 'Education',
       'E-Commerce, Fashion, Jewelry, Retail', 'Renewable Energy',
       'E-Learning, Education',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning',
       'E-Commerce, Fashion, Mobile',
       'Apps, Messaging, Navigation, Public Safety', 'Transportation',
       'Fitness, Health Care, Wellness',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Hospitality', 'Food and Beverage, Tea',
       'Media and Entertainment, News, Outdoors',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'B2B, Information Services, Information Technology',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'Health Care, Medical', 'E-Commerce',
       'Health Care, Hospital, Wellness', '—', 'Sports',
       'Big Data, Consumer Lending, FinTech',
       'Cloud Computing, Computer, Semiconductor',
       'Health Care, Medical, Pharmaceutical', 'Food Processing, Retail',
       'Trading Platform', "Consumer Goods, Lifestyle, Men's", 'Wellness',
       'Food and Beverage, Food Processing, Nutrition', 'Fashion',
       'Automotive, Electric Vehicle, Energy Storage',
       'Consulting, Retail, Social',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Health Care',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Communities, Coworking, Incubators',
       'Consumer, Financial Services, FinTech',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Mobile, Mobile Apps, Personalization, Test and Measurement, Web Apps',
       'Education, Financial Services, FinTech',
       'Advertising, Consulting, Digital Marketing',
       'Marketplace, Real Estate, Rental Property',
       'E-Learning, Internet, Video Games',
       'Artificial Intelligence, Cloud Computing, Video',
       'Health Care, Information Technology', 'Aerospace',
       'E-Commerce, Fashion, Lifestyle',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Home Decor, Home Improvement, Home Renovation, Home Services, Interior Design, Smart Home',
       'EdTech, Education, Information Services, SaaS', 'Energy, Solar',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'Artificial Intelligence, Social',
       'Logistics, Transportation, Travel',
       'Digital Marketing, SEM, SEO, Web Development',
       'Health Care, Hospital, Medical', 'Finance, Financial Services',
       'Food Delivery, Food Processing, Internet',
       'E-Commerce, Food and Beverage, Internet',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'EdTech, Education, Knowledge Management',
       'Apps, Beauty, Consumer, Retail',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'E-Learning, Education, Higher Education', 'Health Diagnostics',
       'EdTech, Education', 'Financial Services, SaaS, Security',
       'Banking, Finance, Financial Services, Non Profit',
       'B2B, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Renewable Energy', 'E-Learning',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Apps, E-Commerce, Internet',
       'Advertising, Human Resources, Marketing',
       'Beauty, Fitness, Home Services, Internet',
       'Health Care, Medical Device, Public Safety',
       'Food Delivery, Online Portals, Restaurants',
       'AgTech, B2B, Supply Chain Management',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Software',
       'EdTech, Education, Higher Education, Secondary Education',
       'Manufacturing, Retail', 'Manufacturing',
       'Information Services, Information Technology, InsurTech',
       'Consumer Lending, FinTech', 'Internet, Social Network, TV',
       'Beauty, Health Care', 'Hospital', 'Events',
       '3D Printing, Manufacturing, Product Design', 'Automotive',
       'Automotive, Retail', 'Apps, Audio', 'Automotive, E-Commerce',
       'Digital Entertainment, Fantasy Sports, Sports',
       'E-Learning, EdTech, Education',
       'Funding Platform, Incubators, Non Profit',
       'Hospitality, Hotel, Leisure, Travel',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Banking, E-Learning, Trading Platform',
       'E-Commerce, Mobile, Retail',
       'Artificial Intelligence, Information Technology',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Banking, Finance, Financial Services',
       'Audio, Mobile, Tourism, Travel',
       'Energy, Energy Storage, Infrastructure',
       'Government, Information Technology, Software',
       'Information Technology',
       'Education, Information Technology, Internet, Mobile, Software',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Credit, Financial Services, FinTech, Lending',
       'Children, Education, Parenting',
       'Automotive, Battery, Energy, Energy Storage',
       'E-Commerce, Mobile, Sharing Economy',
       'Food Delivery, Organic, Organic Food', 'Mobile', 'Rental',
       'Travel', 'Consumer', 'B2B, Farming, Marketplace',
       'Wealth Management', 'Biotechnology',
       'Education, Gaming, Training', 'Veterinary',
       'Internet, Mobile, Social Entrepreneurship, Telecommunications, Wireless',
       'Health Care, Hospital, Supply Chain Management',
       'Tourism, Travel', 'Hospitality, Real Estate', 'Finance',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Food and Beverage, Food Processing',
       'Internet, Marketplace, Shopping',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Facilities Support Services',
       'Automotive, Electric Vehicle, Energy',
       'Health Care, Health Diagnostics, Predictive Analytics',
       'Cloud Computing, Computer, SaaS, Software',
       'Fashion, Lifestyle, Retail', 'Medical', 'Music Streaming',
       'Finance, Impact Investing, Internet',
       'Internet, Social Entrepreneurship', 'Retail',
       'Finance, Impact Investing, Mobile Apps',
       'Cloud Computing, Computer, Software',
       'Business Development, Market Research, Outsourcing',
       'Health Care, Hospitality', 'Internet, Social News, Sports',
       'Human Resources', 'Finance, Financial Services, FinTech',
       'Customer Service, Software, Video, Video Streaming',
       'E-Commerce, Food Processing', 'Training',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Manufacturing, Oil and Gas, Robotics',
       'Artificial Intelligence, Computer, Machine Learning',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Big Data, EdTech, Machine Learning', 'Nanotechnology',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Financial Services, Lending, Peer to Peer',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'Digital Media', 'File Sharing, Personalization, Social Media',
       'Home Decor, Interior Design',
       'Health Care, Medical Device, Mobile Apps',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'Crowdfunding, Finance, Financial Services',
       'Finance, Financial Services, Insurance',
       'Children, Education, Online Portals', 'Software, Virtual Reality',
       'B2B, Food and Beverage, Food Delivery',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Food and Beverage, Snack Food', 'Automotive, E-Commerce, Mobile',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Delivery, Information Technology, Mobile Apps',
       'Environmental Consulting, Renewable Energy',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Finance, Financial Services, Marketing',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Education, Human Resources', 'Consumer Electronics',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Delivery Service, Logistics, Service Industry',
       'Big Data, Data Visualization, Logistics, Software',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Media and Entertainment, News, Publishing', 'Consulting',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Agriculture, AgTech, Manufacturing',
       'Digital Media, News, Publishing', 'Health Care, Hospital',
       'B2B, E-Commerce, Enterprise',
       'Fraud Detection, Information Services, Security',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Cryptocurrency, Trading Platform',
       'Finance, FinTech, Mobile Payments', 'Wedding',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'Consumer Goods', 'Digital Entertainment',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Delivery, Drones, Geospatial, Robotics',
       'Health Care, Information Technology, Management Information Systems',
       'Farming',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'Career Planning, Education, Higher Education, Service Industry',
       'Medical Device', 'Alternative Medicine, Health Care',
       'Internet, Software',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Financial Services, Insurance, Private Social Networking',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'CleanTech', 'Advertising, Internet, Marketing',
       'Human Resources, Security, Training',
       'Consumer Lending, Finance, FinTech',
       'Marketing, Social Media, Video', 'Banking', 'Food Processing',
       'Apps', 'Marketing',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Commercial, E-Learning, Education',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Smart Cities, Telecommunications', 'Internet of Things, Robotics',
       'Apps, Home Services, Information Services, Information Technology',
       'Medical, Tourism', 'Career Planning, Education, Internet',
       'Fashion, Graphic Design, Wearables',
       'Communities, Leisure, Mobile Apps, Software',
       'Automotive, Rental, Sharing Economy',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Information Technology, SaaS, Security',
       'Crowdfunding, Financial Services, Internet',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'EdTech, Education, Mobile, Tutoring', 'Social Media, Sports',
       'Biopharma', 'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Fashion, Shopping',
       'Digital Entertainment, Mobile, PC Games',
       'Finance, Financial Services, Small and Medium Businesses',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Computer, FinTech, Risk Management, Software',
       'Apps, Financial Services, FinTech',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Agriculture, Mobile',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Information Services, Information Technology, Mobile, Software',
       'Apps, Fitness, Health Care, mHealth',
       'Food and Beverage, Food Delivery', 'Apps, Payments, Retail',
       'Health Insurance, Insurance, Life Insurance',
       'Rental, Taxi Service, Travel',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'Financial Services, Professional Services',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Gaming, iOS, Sports',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'Search Engine',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Agriculture, Farmers Market, Farming',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Mobile, Software, Travel', 'Cosmetics',
       'Consulting, Cyber Security, Network Security',
       'eSports, Gaming, Video Games', 'Fashion, Jewelry',
       'B2B, Medical Device', 'Consumer Goods, Manufacturing',
       'Biotechnology, Health Care, Wellness',
       'Health Care, Hospital, Medical, Robotics',
       'E-Commerce, Fitness, Health Care',
       'Financial Services, Venture Capital', 'Accounting, Apps, FinTech',
       'Apps, Mobile, Transportation', 'Reading Apps',
       'Energy, Renewable Energy, Solar',
       'Banking, Financial Services, FinTech', 'Apps, Education, Retail',
       'Electric Vehicle',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, E-Commerce, Marketplace', 'Agriculture',
       'Apps, Information Services, Information Technology',
       'B2B, Marketplace', 'Packaging Services',
       'Computer, Furniture, Software',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Collaboration, Communities, Coworking, Real Estate',
       'Accounting, Banking, Finance',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Information Services, Internet, Logistics, Supply Chain Management, Transportation',
       'Automotive, E-Commerce, Information Services',
       'Delivery, Logistics, Transportation',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Last Mile Transportation, Railroad, Transportation, Travel',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Online Games, Software',
       'Online Portals, Property Management, Rental',
       'E-Commerce, Food and Beverage, Tea',
       'Music, Social Network, Video',
       'Health Care, Pharmaceutical, Wellness',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Hospitality, Information Technology, Travel Accommodations',
       'Biotechnology, Diabetes, Health Care',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Analytics, Apps, Market Research',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'Apps, Mobile, Mobile Apps, Software',
       'News, Publishing, Social Media',
       'Industrial, Industrial Automation',
       'Internet, Mobile Apps, Social Network',
       'Health Care, Health Diagnostics, Internet of Things, Life Science, Machine Learning, Medical, Medical Device',
       'E-Commerce, Furniture, Interior Design', 'Apps, Events, News',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Logistics, Railroad, Transportation',
       'Dating, Private Social Networking',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Health Care, Health Insurance', 'Energy, Natural Resources',
       'E-Commerce, Education, Health Care',
       'Apps, Health Care, Pharmaceutical',
       'Internet, Knowledge Management',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Banking, Financial Services, Internet',
       'E-Commerce, Health Care, Retail',
       'Child Care, Information Technology',
       'Financial Services, Micro Lending',
       'E-Commerce, Retail, Shopping',
       'Food and Beverage, Snack Food, Tea',
       'Delivery Service, E-Commerce, Logistics',
       'Fashion, Lifestyle, Rental', 'Fantasy Sports, Mobile, Sports',
       'Beauty, Fashion, Wellness', 'Food and Beverage, Restaurants, Tea',
       'Fitness, Sporting Goods, Sports',
       'Food and Beverage, Food Processing, Manufacturing',
       'E-Learning, Internet', 'Eyewear, Internet',
       'Information Technology, Mobile, News, Operating Systems, Social Media, Social News',
       'FinTech, Internet, Payments, Service Industry',
       'B2B, Business Development, Internet, Marketplace',
       'Food and Beverage, Food Delivery, Internet',
       'Biotechnology, Health Care, Pharmaceutical', 'Ecommerce',

### Cleaning the Stage Column

In [98]:
# Get unique values in the Stage column
unique_stages = data_df['Stage'].unique()

# Convert the unique values array to a list``
unique_stages_list = unique_stages.tolist()

# Print the list of unique stages
unique_stages_list

['Seed',
 'Series A',
 'Angel',
 'Series B',
 'Pre-Seed',
 'Private Equity',
 'Venture - Series Unknown',
 'Grant',
 'Debt Financing',
 'Post-IPO Debt',
 'Series H',
 'Series C',
 'Series E',
 'Corporate Round',
 'Undisclosed',
 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593',
 'Series D',
 'Secondary Market',
 'Post-IPO Equity',
 'Non-equity Assistance',
 'Funding Round',
 nan,
 'Fresh funding',
 'Pre series A',
 'Series G',
 'Post series A',
 'Seed funding',
 'Seed fund',
 'Series F',
 'Series B+',
 'Seed round',
 'Pre-series A',
 None,
 'Pre-seed',
 'Pre-series',
 'Debt',
 'Pre-series C',
 'Pre-series B',
 'Bridge',
 'Series B2',
 'Pre- series A',
 'Edge',
 'Pre-Series B',
 'Seed A',
 'Series A-1',
 'Seed Funding',
 'Pre-seed Round',
 'Seed Round & Series A',
 'Pre Series A',
 'Pre seed Round',
 'Angel Round',
 'Pre series A1',
 'Series E2',
 'Seed Round',
 'Bridge Round',
 'Pre seed round',
 'Pre series B',
 'Pre series C',
 'Seed Investment',
 'Series D1',
 'Mid series',
 'Series C, D',
 'Seed+',
 'Series F2',
 'Series A+',
 'Series B3',
 'PE',
 'Series F1',
 'Pre-series A1',
 '$6000000',
 'Seies A',
 'Series A2',
 'Series I']

In [99]:
data_df[data_df['Stage'] == 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
178,BuyForexOnline,Travel,https://docs.google.com/spreadsheets/d/1x9ziNe...,2000000.0,Bangalore,BuyForexOnline.com is India's first completely...,NaN,NaN,NaN

In [100]:
# Set the values in the 'Stage' column to an empty string where the value is equal to the specified URL
data_df.loc[data_df['Stage'] == 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', 'Stage'] = ''
data_df[data_df['Stage'] == 'https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593']

Empty DataFrame
Columns: [Company_Brand, Sector, Stage, Amount, HeadQuarter, What it does, Founded, Founders, Investor]
Index: []

In [101]:
data_df[data_df['Stage'] == '$6000000']

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What it does,Founded,Founders,Investor
2332,MYRE Capital,Commercial Real Estate,$6000000,NaN,Mumbai,Democratising Real Estate Ownership,2020.0,Own rent yielding commercial properties,Aryaman Vir

In [102]:
# Set the 'Stage' column to an empty string where the value is equal to '$6000000'
data_df.loc[data_df['Stage'] == '$6000000', 'Stage'] = ''
data_df[data_df['Stage'] == '$6000000']

Empty DataFrame
Columns: [Company_Brand, Sector, Stage, Amount, HeadQuarter, What it does, Founded, Founders, Investor]
Index: []

In [103]:
# Select rows where the 'Stage' column contains NaN values
nan_stage_rows = data_df[pd.isna(data_df['Stage'])]

In [104]:
# Print the list of unique stages
unique_stages_list

['Seed',
 'Series A',
 'Angel',
 'Series B',
 'Pre-Seed',
 'Private Equity',
 'Venture - Series Unknown',
 'Grant',
 'Debt Financing',
 'Post-IPO Debt',
 'Series H',
 'Series C',
 'Series E',
 'Corporate Round',
 'Undisclosed',
 '',
 'Series D',
 'Secondary Market',
 'Post-IPO Equity',
 'Non-equity Assistance',
 'Funding Round',
 nan,
 'Fresh funding',
 'Pre series A',
 'Series G',
 'Post series A',
 'Seed funding',
 'Seed fund',
 'Series F',
 'Series B+',
 'Seed round',
 'Pre-series A',
 None,
 'Pre-seed',
 'Pre-series',
 'Debt',
 'Pre-series C',
 'Pre-series B',
 'Bridge',
 'Series B2',
 'Pre- series A',
 'Edge',
 'Pre-Series B',
 'Seed A',
 'Series A-1',
 'Seed Funding',
 'Pre-seed Round',
 'Seed Round & Series A',
 'Pre Series A',
 'Pre seed Round',
 'Angel Round',
 'Pre series A1',
 'Series E2',
 'Seed Round',
 'Bridge Round',
 'Pre seed round',
 'Pre series B',
 'Pre series C',
 'Seed Investment',
 'Series D1',
 'Mid series',
 'Series C, D',
 'Seed+',
 'Series F2',
 'Series A+',
 'Series B3',
 'PE',
 'Series F1',
 'Pre-series A1',
 'Seies A',
 'Series A2',
 'Series I']

### Loading the datasets

In [ ]:
# Creating dataframes based on each dataset

data1 = 'startup_funding2018.csv'
data2 = 'startup_funding2019.csv'
data3 = 'startup_funding2020.csv'
data4 = 'startup_funding2021.csv'

df1 = pd.read_csv(data1)
df2 = pd.read_csv(data2)
df3 = pd.read_csv(data3)
df4 = pd.read_csv(data4)

In [ ]:
# Adding a year column to each dataset so that rows are not lost should it become necessary to merge all datasets later on
year_1 = 2018
df1['Year'] = year_1

year_2 = 2019
df2['Year'] = year_2

year_3 = 2020
df3['Year'] = year_3

year_4 = 2021
df4['Year'] = year_4

# Convert the year column from int data type to year data type
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y').dt.year

df2['Year'] = pd.to_datetime(df2['Year'], format='%Y').dt.year

df3['Year'] = pd.to_datetime(df3['Year'], format='%Y').dt.year

df4['Year'] = pd.to_datetime(df4['Year'], format='%Y').dt.year

### Data Cleaning

In [ ]:
# Preview of df1
df1.head()

In [ ]:
# Preview of df2
df2.head()

In [ ]:
# Preview of df3
df3.head()

In [ ]:
# Preview of df4
df4.head()

In [ ]:
# Information on df1
df1.info()

In [ ]:
# Rename columns in df1 to match columns with similar content in df2, df3 and df4
df1 = df1.rename(columns = {'Company Name' : 'Company_Brand', 'Round/Series' : 'Stage', 'About Company' : 'What_it_does', 'Amount' : 'Amount($)'})

In [ ]:
# Extract Headquarters information from df1's Location column
df1['Headquarters'] = df1['Location'].str.split(',').str[0]
df1['Headquarters']

In [ ]:
df1['Sector'] = df1['Industry'].str.split(',').str[0]
df1[df1['Sector'] == 'Agritech']

In [ ]:
# Convert Amount from object to float data type

# First, remove currency symbol ₹
df1['Amount($)'] = df1['Amount($)'].str.replace('₹', '')

# Remove the comma (,) symbol
df1['Amount($)'] = df1['Amount($)'].str.replace(',', '')

# Remove the hyphen (—) symbol
df1['Amount($)'] = df1['Amount($)'].str.replace('—', '')

# Replace all empty spaces with 0
df1['Amount($)'] = df1['Amount($)'].str.replace('', '0')

# Replace all strings longer than 9 character
max_length = 9
df1['Amount($)'] = df1['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# df1['Amount($)'] = df1['Amount($)'].str.replace('0000000$0000000100000004000000030000000100000004000000050000000', '0')

# df1['Amount($)'] = df1['Amount($)'].str.replace('000000000000000$000000000000000100000000000000040000000000000003000000000000000100000000000000040000000000000005000000000000000', '0')

# Remove all white spaces
df1['Amount($)'] = df1['Amount($)'].str.strip()

df1['Amount($)'] = df1['Amount($)'].astype(np.float64).round(2)

In [ ]:
df1.drop(columns = ['Industry', 'Location'])

In [ ]:
# Checking information on df1 after cleaning the data
df1.info()

In [ ]:
df2.Sector

In [ ]:
# Checking df2 information before data cleaning
df2.info()

In [ ]:
# Fill missing values in Founded column
df2['Founded'] = df2['Founded'].fillna(0)

In [ ]:
# Fill missing values in Founded column
df2['Founded'] = df2['Founded'].fillna(0)

In [ ]:
# Convert Founded column from float to int
df2['Founded'] = df2['Founded'].astype(int)

In [ ]:
# Rename Headquarter to Headquarters
df2 = df2.rename(columns = {'Company/Brand' : 'Company_Brand', 'What it does' : 'What_it_does', 'HeadQuarter' : 'Headquarters'})

In [ ]:
# Convert Amount column from object to float data type

# Remove currency symbol $
df2['Amount($)'] = df2['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df2['Amount($)'] = df2['Amount($)'].str.replace(',', '')

# Replace all strings longer than 9 character
max_length = 9
df2['Amount($)'] = df2['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df2['Amount($)'] = df2['Amount($)'].str.strip()

df2['Amount($)'] = df2['Amount($)'].astype(np.float64).round(2)

In [ ]:
df2.isna().sum()

In [ ]:
df2[['Headquarters', 'Sector', 'Founders', 'Stage']] = df2[['Headquarters', 'Sector', 'Founders', 'Stage']].fillna('')

In [ ]:
df2.isna().sum()

In [ ]:
# Checking df2 after data cleaning
df2.info()

In [ ]:
# df3 information before data cleaning
df3.info()

In [ ]:
# Rename Headquarter to Headquarters
df3 = df3.rename(columns = {'HeadQuarter' : 'Headquarters', 'Amount' : 'Amount($)'})

In [ ]:
df3['Founded'] = df3['Founded'].fillna('0')

In [ ]:
# Convert Founded column from float to int
df3['Founded'] = df3['Founded'].astype(int)

In [ ]:
# # Convert Amount($) column from object to float data type

# # Remove currency symbol $
# df3['Amount($)'] = df3['Amount($)'].str.replace('$', '')

# # Remove the comma (,) symbol
# df3['Amount($)'] = df3['Amount($)'].str.replace(',', '')

# # Replace all strings longer than 9 character
# max_length = 9
# df3['Amount($)'] = df3['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# # Remove all white spaces
# df3['Amount($)'] = df3['Amount($)'].str.strip()

# df3['Amount($)'] = df3['Amount($)'].astype(np.float64).round(2)
df3['Amount($)'].isna().sum()

In [ ]:
df3['Amount($)'] = df3['Amount($)'].fillna(0)

In [ ]:
df3['Stage'].describe()

In [ ]:
df3.isna().sum()

In [ ]:
df3['Stage'] = df3['Stage'].fillna('Unknown')
df3['Stage'].isna().sum()

In [ ]:
df3.tail(20)

In [ ]:
# df3 after renaming column
df3.info()

In [ ]:
# df4 information before data cleaning
df4.info()

In [ ]:
# Rename Headquarter to Headquarters
df4 = df4.rename(columns = {'HeadQuarter' : 'Headquarters', 'Amount' : 'Amount($)'})

In [ ]:
df4['Founded'] = df4['Founded'].fillna(0)

In [ ]:
# Convert Founded column from float to int
df4['Founded'] = df4['Founded'].astype(int)

In [ ]:
df4['Stage'] = df4['Stage'].fillna('')

In [ ]:
# Convert Amount($) column from object to float data type

# Remove currency symbol $
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')
df4['Stage'] = df4['Stage'].str.replace('$', '')
df4['Stage'] = df4['Stage'].str.replace(',', '')
df4['Investor'] = df4['Investor'].str.replace('$', '')
df4['Investor'] = df4['Investor'].str.replace(',', '')
df4['Investor'] = df4['Investor'].str.strip()

In [ ]:
# Define a function to check if a string represents an integer
def is_string_integer(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

# Apply the function to the 'Stage' column to create a boolean mask
condition = df4['Stage'].apply(is_string_integer)

# Swap values between 'Stage' and 'Amount($)' columns where condition is True
temp = df4.loc[condition, 'Stage'].copy()
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']
df4.loc[condition, 'Amount($)'] = temp



# df4[['Amount($)', 'Stage']]
df4

In [ ]:
df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4['Amount($)'].isna().sum()

In [ ]:
df4['Amount($)'] = df4['Amount($)'].fillna('0')

In [ ]:
# Define the pattern you want to search for in the 'Amount($)' column
pattern = 'Series'  # Replace 'pattern' with your desired pattern

# Identify rows where the 'Amount($)' column contains the specified pattern
condition = df4['Amount($)'].str.contains(pattern)

# Move the values from 'Amount($)' to 'Stage' where the pattern is found
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']

# Replace the values in 'Amount($)' with NaN where the pattern is found
df4.loc[condition, 'Amount($)'] = pd.NA

df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4['Amount($)'] = df4['Amount($)'].fillna('0')

In [ ]:
# Define the pattern you want to search for in the 'Amount($)' column
pattern = 'Seed'  # Replace 'pattern' with your desired pattern

# Identify rows where the 'Amount($)' column contains the specified pattern
condition = df4['Amount($)'].str.contains(pattern)

# Move the values from 'Amount($)' to 'Stage' where the pattern is found
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']

# Replace the values in 'Amount($)' with NaN where the pattern is found
df4.loc[condition, 'Amount($)'] = pd.NA

df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4['Amount($)'] = df4['Amount($)'].fillna('0')

In [ ]:
# Define the pattern you want to search for in the 'Amount($)' column
pattern = 'Pre-s'  # Replace 'pattern' with your desired pattern

# Identify rows where the 'Amount($)' column contains the specified pattern
condition = df4['Amount($)'].str.contains(pattern)

# Move the values from 'Amount($)' to 'Stage' where the pattern is found
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']

# Replace the values in 'Amount($)' with NaN where the pattern is found
df4.loc[condition, 'Amount($)'] = pd.NA

df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4.groupby(by = 'Investor', as_index = False).sum()

In [ ]:
df4['Investor'] = df4['Investor'].fillna('')

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('1000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('5000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('1000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('22000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')
df4['Investor'] = df4['Investor'].str.replace('1000000', 'NA')
df4['Investor'] = df4['Investor'].str.replace('1000000\t#REF!', 'NA')
# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
df4.groupby(by = 'Investor', as_index = False).sum()

In [ ]:
df4.Investor.isna().sum()

In [ ]:
df4.describe().T

In [ ]:
# Convert Amount column from object to float data type

# Remove currency symbol $
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df4['Amount($)'] = df4['Amount($)'].str.replace(',', '')
df4['Amount($)'] = df4['Amount($)'].str.replace('', '0')
# Replace all strings longer than 9 character
max_length = 9
df4['Amount($)'] = df4['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df4['Amount($)'] = df4['Amount($)'].str.strip()

df4['Amount($)'] = df4['Amount($)'].astype(np.float64).round(2)

In [ ]:
df4.isna().sum()

In [ ]:
df4.info()

In [ ]:
# Concatenate all DataFrames along rows
df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# If there are overlapping columns, you can handle them separately if needed

# Print the concatenated DataFrame
df

In [ ]:
df.drop(columns=['column10'], inplace=True)
df

In [ ]:
df.describe().T.round(2)

In [ ]:
df.isna().sum()

In [ ]:
df['Amount($)'].mean().round(2)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# df.duplicated().sum()

In [ ]:
# df.drop_duplicates()

### Visualizing Characteristics of the Dataset

In [ ]:
# Visualize the distribution of the start-ups' Stage with boxplot
df.plot.box(column='Amount($)', by='Year')

In [ ]:
# Visualize the distribution of the start-ups' Location with boxplot
df.plot.box(column='Amount($)', by='Founded')

In [ ]:
# Distribution of the variables
df.hist(figsize=(20, 15))