## Indian Start-Up Funding Ecosystem

In [1]:
# Import requisite libraries
import pyodbc    
from dotenv import dotenv_values
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Data Collection

In [2]:
# Access the 2018 dataset
url = 'https://raw.githubusercontent.com/Azubi-Africa/Career_Accelerator_LP1-Data_Analysis/main/startup_funding2018.csv'

dat1 = pd.read_csv(url)
dat1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [3]:
dat1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [4]:
dat1["Amount"].unique()

array(['250000', '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '$1,000,000,000', '$7,000,000', '$35,000,000',
       '₹550,000,000', '$28,500,000', '$2,000,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '$30,000,000', '₹2,500,000,000',
       '$23,000,000', '$150,000', '$11,000,000', '₹44,000,000',
       '$3,240,000', '₹60,000,000', '$540,000,000', '₹650,000,000',
       '₹1,600,000,000', '$900,000', '$10,000,000', '$1,500,000',
       '₹70,000,000', '$1,000,000', '$5,000,000', '$14,000,000',
       '₹102,500,000', '$100,000,000', '₹1,200,000', '₹5,200,000,000',
       '$800,000', '$1,041,000', '$100,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '$40,000,000', '$1,100,000',
       '$50,000,000', '₹1,540,000,000', '$3,000,000', '$6,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$200,000', '$3,300,000', '₹580,000,000', '₹36,000,000',
       '₹340,000,000', '$210,000,000', '$37,680,000', '$250,000',
       '$20,000', '₹510,000,000', '₹2,200,000,000', '22000000', '70000',
       '10000000', '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [5]:
dat1[dat1["Amount"].str.startswith("$")]

,Company Name,Industry,Round/Series,Amount,Location,About Company
86,WHR,"Health Care, Information Technology",Seed,"$143,145","Pune, Maharashtra, India",WHR is to make affordable healthcare a reality...
90,SBI Life,Insurance,Private Equity,"$742,000,000","Mumbai, Maharashtra, India",SBI Life is one of the life insurance company ...
93,NoPaperForms Solutions Pvt. Ltd.,"EdTech, Education, Information Services, SaaS",Series B,"$3,980,000","New Delhi, Delhi, India","NoPaperForms is a marketing automation, lead n..."
95,AuthMetrik,"B2B, Biometrics, Cyber Security, Fraud Detecti...",Grant,"$10,000","Gurgaon, Haryana, India","SaaS, B2B, Security, Stop account sharing, Fra..."
101,Swiggy,"Food Delivery, Food Processing, Internet",Series H,"$1,000,000,000","Bangalore, Karnataka, India",Swiggy is a food ordering and delivery company...
102,Milkbasket,"E-Commerce, Food and Beverage, Internet",Series A,"$7,000,000","Haryana, Haryana, India","Milkbasket delivers milk, bread, eggs, butter,..."
104,Toppr,"EdTech, Education, Knowledge Management",Series C,"$35,000,000","Mumbai, Maharashtra, India",Toppr.com is an online preparation platform fo...
106,Vivriti Capital,Financial Services,Venture - Series Unknown,"$28,500,000","Chennai, Tamil Nadu, India",Vivriti Capital is an online platform for inst...
108,Impact Guru,"Creative Agency, Crowdfunding, EdTech, Health ...",Series A,"$2,000,000","Mumbai, Maharashtra, India",We're a Harvard incubated crowdfunding platfor...
114,OneAssist,"Financial Services, SaaS, Security",Debt Financing,"$2,400,000","Mumbai, Maharashtra, India",OneAssist is a protection & assistance service...
115,Satin Creditcare Network Limited (SCNL),"Banking, Finance, Financial Services, Non Profit",Post-IPO Debt,"$30,000,000","New Delhi, Delhi, India",Satin is a non-banking finance company providi...
117,Moglix,"B2B, E-Commerce, Mobile",Series C,"$23,000,000","Noida, Uttar Pradesh, India",Moglix is a supplier of industrial tools like ...
119,MadGuy Labs,E-Learning,Venture - Series Unknown,"$150,000","Hyderabad, Andhra Pradesh, India",MadGuy Labs is a Online Test-prep Platform.
122,Shop101,"Apps, E-Commerce, Internet",Series B,"$11,000,000","Mumbai, Maharashtra, India",#1 Online Selling App. India’s leading social ...
124,Housejoy,"Beauty, Fitness, Home Services, Internet",Series B,"$3,240,000","Bengaluru, Karnataka, India",Housejoy is a web-based platform that allows i...
130,BYJU’S,"EdTech, Education, Higher Education, Secondary...",Private Equity,"$540,000,000","Bangalore, Karnataka, India",BYJU’s is an edtech company that is reinventin...
134,PerkFinance,"Consumer Lending, FinTech",Seed,"$900,000","Bangalore, Karnataka, India",PerkFinance partners with employers to provide...
135,Roposo,"Internet, Social Network, TV",Series C,"$10,000,000","Gurgaon, Haryana, India",Roposo - TV by the People is a unique social m...
138,Wow Venue,Events,Venture - Series Unknown,"$1,500,000","Mumbai, Maharashtra, India",Wow Venue is an online platform.
143,MyNewCar.in,"Automotive, E-Commerce",Venture - Series Unknown,"$1,000,000","Gurgaon, Haryana, India",MyNewCar.in offers new cars at best price with...
144,HalaPlay Technologies,"Digital Entertainment, Fantasy Sports, Sports",Series A,"$5,000,000","Bangalore, Karnataka, India",A daily fantasy sports platform.
146,WheelsEMI,—,Series B,"$14,000,000","Pune, Maharashtra, India","WheelsEMI is the brand name of NBFC, WheelsEMI..."
148,OYO,"Hospitality, Hotel, Leisure, Travel",Series E,"$100,000,000","Gurgaon, Haryana, India",OYO is an Indian hospitality startup that oper...
152,Shopkirana,"E-Commerce, Mobile, Retail",Venture - Series Unknown,"$2,000,000","Indore, Madhya Pradesh, India",Shopkirana connects brands and traditional ret...
159,Guiddoo World,"Audio, Mobile, Tourism, Travel",Seed,"$800,000","Mumbai, Maharashtra, India",We build In-Destination Experiences!
160,ION Energy,"Energy, Energy Storage, Infrastructure",Venture - Series Unknown,"$1,041,000","Mumbai, Maharashtra, India",A stealth startup building a layer of infrastr...
161,UnoTag,Artificial Intelligence,Pre-Seed,"$100,000","Bangalore, Karnataka, India",SaaS to verify counterfeit
162,CivilCops,"Government, Information Technology, Software",Pre-Seed,"$100,000","Gurgaon, Haryana, India",Gov-Tech
166,artbandhu,"Digital Media, Internet, Media and Entertainme...",Pre-Seed,"$15,000","Bangalore, Karnataka, India",Ai platform for Art and Creative Community
349,Wicked Ride Adventure Services Private Limited,"Automotive, Last Mile Transportation, Peer to ...",Venture - Series Unknown,"$10,000,000","Bangalore, Karnataka, India",Peer-to-Peer motor vehicles sharing
351,ERUDITUS Executive Education,"Continuing Education, EdTech, Education, Skill...",Series C,"$40,000,000","Mumbai, Maharashtra, India","Eruditus, promoted by Alumni of INSEAD and oth..."
353,Square Off,"Internet of Things, Robotics",Seed,"$1,100,000","Mumbai, Maharashtra, India",Delivering Imagination
354,UrbanClap,"Apps, Home Services, Information Services, Inf...",Series D,"$50,000,000","Delhi, Delhi, India",UrbanClap is India's leading managed marketpla...
355,Hospals,"Medical, Tourism",Seed,"$1,500,000","New Delhi, Delhi, India",Hospals is a medical tourism company.
358,The Souled Store,"Fashion, Graphic Design, Wearables",Venture - Series Unknown,"$3,000,000","Mumbai, Maharashtra, India",The Souled Store bring to you awesome t-shirts...
360,Drivezy,"Automotive, Rental, Sharing Economy",Debt Financing,"$100,000,000","Bengaluru, Karnataka, India",Drivezy is India's largest vehicle sharing pla...
361,Freyr Energy,"Energy, Environmental Consulting, Renewable En...",Series A,"$1,500,000","Hyderabad, Andhra Pradesh, India",Freyr Energy is a company that provides full s...
362,NIRAMAI Health Analytix,"Health Care, Hospital",Seed,"$6,000,000","Bangalore, Karnataka, India",NIRAMAI has developed a novel breast cancer sc...
365,Verloop,"Customer Service, Information Technology, Inte...",Series A,"$3,000,000","Bangalore, Karnataka, India",Verloop is an automated customer support and e...
367,Paymatrix,"Credit Cards, Payments, Property Insurance, Pr...",Seed,"$100,000","Hyderabad, Andhra Pradesh, India",India's Leading Property Rent management platform
369,InCred,"Banking, Finance, Financial Services",Private Equity,"$41,900,000","Mumbai, Maharashtra, India",InCred Finance is a mumbai-based non-banking f...
370,Vedantu,"EdTech, Education, Mobile, Tutoring",Series B,"$11,000,000","Bangalore, Karnataka, India",Vedantu provides personalized LIVE Online Tuto...
372,Stelis Biopharma,Biopharma,Series B,"$100,000,000","Bangalore, Karnataka, India",Stelis Biopharma is a vertically integrated bi...
375,Mech Mocha,"Digital Entertainment, Mobile, PC Games",Series B,"$3,530,000","Bangalore, Karnataka, India",Mech Mocha is a mobile gaming startup based in...
377,Aldopay,Mobile Payments,Seed,"$200,000","Chennai, Tamil Nadu, India",Mobile Wallet Focusing on hassle free checkout...
378,Detect Technologies,"Artificial Intelligence, Energy, Oil and Gas",Series A,"$3,300,000","Chennai, Tamil Nadu, India",Completely automated remote control system.
380,CashRich,"Apps, Financial Services, FinTech",Seed,"$1,000,000","Mumbai, Maharashtra, India",A Mumbai-based fin-tech startup
384,Yaantra,"Information Services, Information Technology, ...",Debt Financing,"$2,000,000","Delhi, Delhi, India","Yaantra, India’s leading mobile phone repair, ..."
385,TECHBOOZE,Education,Seed,"$100,000","New Delhi, Delhi, India","Techbooze[1] ""AN OPEN FORUM"" is an educational..."
386,HealthifyMe,"Apps, Fitness, Health Care, mHealth",Series B,"$6,000,000","Bangalore, Karnataka, India",HealthifyMe is an application that allows its ...
389,Royal Sundaram General Insurance Co. Limited,"Health Insurance, Insurance, Life Insurance",Corporate Round,"$210,000,000","Kalpakkam, Tamil Nadu, India",Royal Sundaram provides comprehensive insuranc...
392,Spinny,"E-Commerce, E-Commerce Platforms, Internet, Re...",Series A,"$11,000,000","Gurgaon, Haryana, India",Used cars marketplace in India. Ushering new e...
396,Mobile Premier League (MPL),"Gaming, iOS, Sports",Series A,"$5,000,000","Bengaluru, Karnataka, India",Mobile Premier League(MPL) is a skill based E-...
397,WalMart India,Retail,Venture - Series Unknown,"$37,680,000","Gurgaon, Haryana, India",Wal-Mart India Private Limited is a wholly own...
399,Meesho,"E-Commerce, E-Commerce Platforms, Internet, Mo...",Series C,"$50,000,000","Bangalore, Karnataka, India",Meesho is an online reseller network of housew...
400,BhaskarGuru,Search Engine,Seed,"$1,000,000","Bhopal, Madhya Pradesh, India",Bhaskarguru.com is your local search Engine
401,Gugu,"Battery, Electric Vehicle, Energy, Renewable E...",Seed,"$250,000","Coimbatore, Tamil Nadu, India",Gugu designs & Sells all Electric Connected Tw...
403,Vizzbee,"Artificial Intelligence, Drones, Navigation, P...",Pre-Seed,"$20,000","Bhopal, Madhya Pradesh, India",Autonomous Drone Solutions for last mile deliv...
404,BIGPHI TECHNOLOGIES PVT. LTD.,Fashion,Angel,"$900,000","Bangalore, Karnataka, India",BIGPHI technologies is the India's first techn...

In [6]:

dat1['Amount'] = dat1['Amount'].str.replace(',', '')
dat1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,₹40000000,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,₹65000000,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,₹35000000,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [7]:
# Define a function to convert rupees to dollars
def convert_to_dollars(Amount):
    if Amount.startswith('₹'):
        return float(Amount[1:]) * 0.0146
    else:
        return Amount
 
# Apply the conversion function to the 'amount' column
dat1['Amount'] = dat1['Amount'].apply(convert_to_dollars)
dat1

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,511000.0,"Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [8]:
# Access the 2019 dataset

dat2 = pd.read_csv('dataset/startup_funding2019.csv')
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [9]:
#Renaming amount column in dataset 2#

dat2 = dat2.rename(columns={'Amount($)':'Amount'})
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [10]:
# Define a function to convert rupees to dollars
def convert_to_dollars(Amount):
    if Amount.startswith('₹'):
        return float(Amount[1:]) * 0.0146
    else:
        return Amount
 
# Apply the conversion function to the 'amount' column
dat2['Amount'] = dat2['Amount'].apply(convert_to_dollars)
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [11]:
#removing dollar sign
dat2['Amount']= dat2['Amount'].str.replace('$', '')
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","33,000,000",NaN

In [12]:
# remove commas
dat2['Amount']= dat2['Amount'].str.replace(',', '', regex= True)

dat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount         89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [13]:
dat2['Amount'].unique()

array(['6300000', '150000000', '28000000', '30000000', '6000000',
       'Undisclosed', '1000000', '20000000', '275000000', '22000000',
       '5000000', '140500', '540000000', '15000000', '182700', '12000000',
       '11000000', '15500000', '1500000', '5500000', '2500000', '140000',
       '230000000', '49400000', '32000000', '26000000', '150000',
       '400000', '2000000', '100000000', '8000000', '100000', '50000000',
       '120000000', '4000000', '6800000', '36000000', '5700000',
       '25000000', '600000', '70000000', '60000000', '220000', '2800000',
       '2100000', '7000000', '311000000', '4800000', '693000000',
       '33000000'], dtype=object)

In [14]:
dat2_undisclosed = dat2[dat2['Amount']=='Undisclosed']
dat2_undisclosed

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
5,FlytBase,NaN,Pune,Technology,A drone automation platform,Nitin Gupta,Undisclosed,Undisclosed,NaN
6,Finly,NaN,Bangalore,SaaS,It builds software products that makes work si...,"Vivek AG, Veekshith C Rai","Social Capital, AngelList India, Gemba Capital...",Undisclosed,NaN
10,Cub McPaws,2010.0,Mumbai,E-commerce & AR,A B2C brand that focusses on premium and comf...,"Abhay Bhat, Kinnar Shah",Venture Catalysts,Undisclosed,NaN
14,Open Secret,NaN,NaN,Food tech,It produces and sells top quality snacks,"Ahana Gautam, Udit Kejriwal",Matrix Partners,Undisclosed,NaN
19,Azah Personal Care Pvt. Ltd.,2018.0,Gurugram,Health,Aims to solve some problems in the feminine hy...,"Mohammed, Shashwat Diesh","Kunal Bahl, Rohit Bansal.",Undisclosed,Pre series A
23,DROR Labs Pvt. Ltd,2018.0,Delhi,Safety tech,It uses technology to create a trust-based net...,"Dhiraj Naubhar, Dheeraj Bansal",Inflection Point Ventures,Undisclosed,NaN
32,Pumpkart,2014.0,Chandigarh,E-marketplace,B2B model for appliances and electrical products,KS Bhatia,Dinesh Dua,Undisclosed,NaN
45,Afinoz,NaN,Noida,Fintech,Online financial marketplace for customized ra...,Rachna Suneja,Fintech innovation lab,Undisclosed,NaN
54,Ninjacart,2015.0,NaN,B2B Supply Chain,It connects producers of food directly to reta...,"Thirukumaran Nagarajanin, Vasudevan Chinnathambi","Walmart, Flipkart",Undisclosed,NaN
55,Binca Games,2014.0,Mumbai,Games,It offers games that are available across Indi...,"Rubianca Wadhwa, Sahil Wadhwa",Sunil Gavaskar,Undisclosed,NaN
65,Cubical Labs,2013.0,NaN,IoT,Home automation solution provider,"Dhruv Ratra, Swati Vyas",Rockstud Capital,Undisclosed,Series B
75,Sportido,2015.0,Noida,Sports,It is a sports discovery app that helps to fin...,"Neeraj Aggarwala, Akhil Ramachandran","Inflection Point Ventures, SucSEED Venture Par...",Undisclosed,Series B

In [15]:
dat2 = dat2[dat2['Amount']!='Undisclosed']
dat2['Amount'].unique()

array(['6300000', '150000000', '28000000', '30000000', '6000000',
       '1000000', '20000000', '275000000', '22000000', '5000000',
       '140500', '540000000', '15000000', '182700', '12000000',
       '11000000', '15500000', '1500000', '5500000', '2500000', '140000',
       '230000000', '49400000', '32000000', '26000000', '150000',
       '400000', '2000000', '100000000', '8000000', '100000', '50000000',
       '120000000', '4000000', '6800000', '36000000', '5700000',
       '25000000', '600000', '70000000', '60000000', '220000', '2800000',
       '2100000', '7000000', '311000000', '4800000', '693000000',
       '33000000'], dtype=object)

In [16]:
# convert amount to float
dat2['Amount']= dat2['Amount'].astype(float)
dat2

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...",20000000.0,Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...",693000000.0,NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,5000000.0,Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...",50000000.0,NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India",33000000.0,NaN

In [17]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER_NAME")
database = environment_variables.get("DATABASE_NAME")
username = environment_variables.get("DB_USERNAME")
password = environment_variables.get("PASSWORD")

In [18]:

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [19]:
connection = pyodbc.connect(connection_string)

In [20]:
query = "SELECT * FROM LP1_startup_funding2020"

dat3 = pd.read_sql(query, connection)
dat3.head

<bound method NDFrame.head of      Company_Brand  Founded HeadQuarter              Sector  \
0       Aqgromalin   2019.0     Chennai            AgriTech
1         Krayonnz   2019.0   Bangalore              EdTech
2     PadCare Labs   2018.0        Pune  Hygiene management
3            NCOME   2020.0   New Delhi              Escrow
4       Gramophone   2016.0      Indore            AgriTech
...            ...      ...         ...                 ...
1050  Leverage Edu      NaN       Delhi              Edtech
1051         EpiFi      NaN        None             Fintech
1052       Purplle   2012.0      Mumbai           Cosmetics
1053        Shuttl   2015.0       Delhi           Transport
1054         Pando   2017.0     Chennai            Logitech

                                           What_it_does  \
0                          Cultivating Ideas for Profit
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders  \
0                       Prasanna Manogaran, Bharani C L
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage column10
0                           Angel investors    200000.0        None     None
1                           GSF Accelerator    100000.0    Pre-seed     None
2                            Venture Center         NaN    Pre-seed     None
3       Venture Catalysts, PointOne Capital    400000.0        None     None
4       Siana Capital Management, Info Edge    340000.0        None     None
...                                     ...         ...         ...      ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None     None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round     None
1052                             Verlinvest   8000000.0        None     None
1053             SIG Global India Fund LLP.   8043000.0    Series C     None
1054                      Chiratae Ventures   9000000.0    Series A     None

[1055 rows x 10 columns]>

In [24]:
query = "SELECT * FROM LP1_startup_funding2021"

dat4 = pd.read_sql(query, connection)
dat4.head

<bound method NDFrame.head of        Company_Brand  Founded HeadQuarter                 Sector  \
0     Unbox Robotics   2019.0   Bangalore             AI startup
1             upGrad   2015.0      Mumbai                 EdTech
2        Lead School   2012.0      Mumbai                 EdTech
3            Bizongo   2015.0      Mumbai         B2B E-commerce
4           FypMoney   2021.0    Gurugram                FinTech
...              ...      ...         ...                    ...
1204        Gigforce   2019.0    Gurugram  Staffing & Recruiting
1205          Vahdam   2015.0   New Delhi       Food & Beverages
1206    Leap Finance   2019.0   Bangalore     Financial Services
1207    CollegeDekho   2015.0    Gurugram                 EdTech
1208          WeRize   2019.0   Bangalore     Financial Services

                                           What_it_does  \
0     Unbox Robotics builds on-demand AI-driven ware...
1        UpGrad is an online higher education platform.
2     LEAD School offers technology based school tra...
3     Bizongo is a business-to-business online marke...
4     FypMoney is Digital NEO Bank for Teenagers, em...
...                                                 ...
1204                  A gig/on-demand staffing company.
1205  VAHDAM is among the world’s first vertically i...
1206  International education loans for high potenti...
1207  Collegedekho.com is Student’s Partner, Friend ...
1208  India’s first socially distributed full stack ...

                                               Founders  \
0                           Pramod Ghadge, Shahid Memon
1     Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...
2                            Smita Deorah, Sumeet Mehta
3               Aniket Deb, Ankit Tomar, Sachin Agrawal
4                                         Kapil Banwari
...                                                 ...
1204                        Chirag Mittal, Anirudh Syal
1205                                         Bala Sarda
1206                         Arnav Kumar, Vaibhav Singh
1207                                       Ruchir Arora
1208                      Vishal Chopra, Himanshu Gupta

                                           Investor        Amount  \
0                       BEENEXT, Entrepreneur First    $1,200,000
1          Unilazer Ventures, IIFL Asset Management  $120,000,000
2                  GSV Ventures, Westbridge Capital   $30,000,000
3                            CDC Group, IDG Capital   $51,000,000
4     Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal    $2,000,000
...                                             ...           ...
1204                                Endiya Partners      $3000000
1205                                       IIFL AMC     $20000000
1206                                   Owl Ventures     $55000000
1207               Winter Capital, ETS, Man Capital     $26000000
1208                 3one4 Capital, Kalaari Capital      $8000000

             Stage
0     Pre-series A
1             None
2         Series D
3         Series C
4             Seed
...            ...
1204  Pre-series A
1205      Series D
1206      Series C
1207      Series B
1208      Series A

[1209 rows x 9 columns]>

In [22]:
dat3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.6+ KB

In [25]:
dat4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What_it_does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount         1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

In [26]:
dat3=dat3.drop('column10', axis=1)
dat3

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None
...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A

In [27]:
merged_table= pd.concat([dat3, dat4], ignore_index=True)
merged_table

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None
...,...,...,...,...,...,...,...,...,...
2259,Gigforce,2019.0,Gurugram,Staffing & Recruiting,A gig/on-demand staffing company.,"Chirag Mittal, Anirudh Syal",Endiya Partners,$3000000,Pre-series A
2260,Vahdam,2015.0,New Delhi,Food & Beverages,VAHDAM is among the world’s first vertically i...,Bala Sarda,IIFL AMC,$20000000,Series D
2261,Leap Finance,2019.0,Bangalore,Financial Services,International education loans for high potenti...,"Arnav Kumar, Vaibhav Singh",Owl Ventures,$55000000,Series C
2262,CollegeDekho,2015.0,Gurugram,EdTech,"Collegedekho.com is Student’s Partner, Friend ...",Ruchir Arora,"Winter Capital, ETS, Man Capital",$26000000,Series B
2263,WeRize,2019.0,Bangalore,Financial Services,India’s first socially distributed full stack ...,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",$8000000,Series A

In [30]:
#renaming company name columns
dat1.rename(columns={'Company Name':'Company_Brand'}, inplace= True)

dat2.rename(columns={'Company/Brand':'Company_Brand'}, inplace= True)

In [35]:
#renaming round/series to name columns
dat1.rename(columns={'Round/Series':'Stage'}, inplace= True)

In [39]:
#renaming Industry to name Sector
dat1.rename(columns={'Industry':'Sector'}, inplace= True)

In [41]:
#renaming Industry to name Sector
dat1.rename(columns={'About Company':'What it does'}, inplace= True)

In [54]:
#renaming Industry to name Sector
dat1.rename(columns={'Location':'HeadQuarter'}, inplace= True)

In [52]:
# extracting the locations in dat1
dat1['Location']= dat1['Location'].str.split(',').str[0]

In [55]:
print(dat1.columns)
print(dat2.columns)
print(merged_table.columns)

Index(['Company_Brand', 'Sector', 'Stage', 'Amount', 'HeadQuarter',
       'What it does'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')
Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [45]:
dat1.head(3)

,Company_Brand,Sector,Stage,Amount,Location,What it does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,584000.0,"Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,949000.0,"Gurgaon, Haryana, India",Leading Online Loans Marketplace in India

In [53]:
dat1['Location'].unique()

array(['Bangalore', 'Mumbai', 'Gurgaon', 'Noida', 'Hyderabad',
       'Bengaluru', 'Kalkaji', 'Delhi', 'India', 'Hubli', 'New Delhi',
       'Chennai', 'Mohali', 'Kolkata', 'Pune', 'Jodhpur', 'Kanpur',
       'Ahmedabad', 'Azadpur', 'Haryana', 'Cochin', 'Faridabad', 'Jaipur',
       'Kota', 'Anand', 'Bangalore City', 'Belgaum', 'Thane', 'Margão',
       'Indore', 'Alwar', 'Kannur', 'Trivandrum', 'Ernakulam',
       'Kormangala', 'Uttar Pradesh', 'Andheri', 'Mylapore', 'Ghaziabad',
       'Kochi', 'Powai', 'Guntur', 'Kalpakkam', 'Bhopal', 'Coimbatore',
       'Worli', 'Alleppey', 'Chandigarh', 'Guindy', 'Lucknow'],
      dtype=object)

In [50]:
dat2['HeadQuarter'].unique()

array([nan, 'Mumbai', 'Chennai', 'Telangana', 'Noida', 'Delhi',
       'Bangalore', 'Ahmedabad', 'Haryana', 'Gurugram', 'Jaipur', 'Pune',
       'New Delhi', 'Surat', 'Uttar pradesh', 'Hyderabad', 'Rajasthan'],
      dtype=object)

In [43]:
dat2.head(3)

,Company_Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding

In [44]:
merged_table.head(3)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed

### Loading the datasets

In [ ]:
# Creating dataframes based on each dataset

data1 = 'startup_funding2018.csv'
data2 = 'startup_funding2019.csv'
data3 = 'startup_funding2020.csv'
data4 = 'startup_funding2021.csv'

df1 = pd.read_csv(data1)
df2 = pd.read_csv(data2)
df3 = pd.read_csv(data3)
df4 = pd.read_csv(data4)

In [ ]:
# Adding a year column to each dataset so that rows are not lost should it become necessary to merge all datasets later on
year_1 = 2018
df1['Year'] = year_1

year_2 = 2019
df2['Year'] = year_2

year_3 = 2020
df3['Year'] = year_3

year_4 = 2021
df4['Year'] = year_4

# Convert the year column from int data type to year data type
df1['Year'] = pd.to_datetime(df1['Year'], format='%Y').dt.year

df2['Year'] = pd.to_datetime(df2['Year'], format='%Y').dt.year

df3['Year'] = pd.to_datetime(df3['Year'], format='%Y').dt.year

df4['Year'] = pd.to_datetime(df4['Year'], format='%Y').dt.year

### Data Cleaning

In [ ]:
# Preview of df1
df1.head()

In [ ]:
# Preview of df2
df2.head()

In [ ]:
# Preview of df3
df3.head()

In [ ]:
# Preview of df4
df4.head()

In [ ]:
# Information on df1
df1.info()

In [ ]:
# Rename columns in df1 to match columns with similar content in df2, df3 and df4
df1 = df1.rename(columns = {'Company Name' : 'Company_Brand', 'Round/Series' : 'Stage', 'About Company' : 'What_it_does', 'Amount' : 'Amount($)'})

In [ ]:
# Extract Headquarters information from df1's Location column
df1['Headquarters'] = df1['Location'].str.split(',').str[0]
df1['Headquarters']

In [ ]:
df1['Sector'] = df1['Industry'].str.split(',').str[0]
df1[df1['Sector'] == 'Agritech']

In [ ]:
# Convert Amount from object to float data type

# First, remove currency symbol ₹
df1['Amount($)'] = df1['Amount($)'].str.replace('₹', '')

# Remove the comma (,) symbol
df1['Amount($)'] = df1['Amount($)'].str.replace(',', '')

# Remove the hyphen (—) symbol
df1['Amount($)'] = df1['Amount($)'].str.replace('—', '')

# Replace all empty spaces with 0
df1['Amount($)'] = df1['Amount($)'].str.replace('', '0')

# Replace all strings longer than 9 character
max_length = 9
df1['Amount($)'] = df1['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# df1['Amount($)'] = df1['Amount($)'].str.replace('0000000$0000000100000004000000030000000100000004000000050000000', '0')

# df1['Amount($)'] = df1['Amount($)'].str.replace('000000000000000$000000000000000100000000000000040000000000000003000000000000000100000000000000040000000000000005000000000000000', '0')

# Remove all white spaces
df1['Amount($)'] = df1['Amount($)'].str.strip()

df1['Amount($)'] = df1['Amount($)'].astype(np.float64).round(2)

In [ ]:
df1.drop(columns = ['Industry', 'Location'])

In [ ]:
# Checking information on df1 after cleaning the data
df1.info()

In [ ]:
df2.Sector

In [ ]:
# Checking df2 information before data cleaning
df2.info()

In [ ]:
# Fill missing values in Founded column
df2['Founded'] = df2['Founded'].fillna(0)

In [ ]:
# Fill missing values in Founded column
df2['Founded'] = df2['Founded'].fillna(0)

In [ ]:
# Convert Founded column from float to int
df2['Founded'] = df2['Founded'].astype(int)

In [ ]:
# Rename Headquarter to Headquarters
df2 = df2.rename(columns = {'Company/Brand' : 'Company_Brand', 'What it does' : 'What_it_does', 'HeadQuarter' : 'Headquarters'})

In [ ]:
# Convert Amount column from object to float data type

# Remove currency symbol $
df2['Amount($)'] = df2['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df2['Amount($)'] = df2['Amount($)'].str.replace(',', '')

# Replace all strings longer than 9 character
max_length = 9
df2['Amount($)'] = df2['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df2['Amount($)'] = df2['Amount($)'].str.strip()

df2['Amount($)'] = df2['Amount($)'].astype(np.float64).round(2)

In [ ]:
df2.isna().sum()

In [ ]:
df2[['Headquarters', 'Sector', 'Founders', 'Stage']] = df2[['Headquarters', 'Sector', 'Founders', 'Stage']].fillna('')

In [ ]:
df2.isna().sum()

In [ ]:
# Checking df2 after data cleaning
df2.info()

In [ ]:
# df3 information before data cleaning
df3.info()

In [ ]:
# Rename Headquarter to Headquarters
df3 = df3.rename(columns = {'HeadQuarter' : 'Headquarters', 'Amount' : 'Amount($)'})

In [ ]:
df3['Founded'] = df3['Founded'].fillna('0')

In [ ]:
# Convert Founded column from float to int
df3['Founded'] = df3['Founded'].astype(int)

In [ ]:
# # Convert Amount($) column from object to float data type

# # Remove currency symbol $
# df3['Amount($)'] = df3['Amount($)'].str.replace('$', '')

# # Remove the comma (,) symbol
# df3['Amount($)'] = df3['Amount($)'].str.replace(',', '')

# # Replace all strings longer than 9 character
# max_length = 9
# df3['Amount($)'] = df3['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# # Remove all white spaces
# df3['Amount($)'] = df3['Amount($)'].str.strip()

# df3['Amount($)'] = df3['Amount($)'].astype(np.float64).round(2)
df3['Amount($)'].isna().sum()

In [ ]:
df3['Amount($)'] = df3['Amount($)'].fillna(0)

In [ ]:
df3['Stage'].describe()

In [ ]:
df3.isna().sum()

In [ ]:
df3['Stage'] = df3['Stage'].fillna('Unknown')
df3['Stage'].isna().sum()

In [ ]:
df3.tail(20)

In [ ]:
# df3 after renaming column
df3.info()

In [ ]:
# df4 information before data cleaning
df4.info()

In [ ]:
# Rename Headquarter to Headquarters
df4 = df4.rename(columns = {'HeadQuarter' : 'Headquarters', 'Amount' : 'Amount($)'})

In [ ]:
df4['Founded'] = df4['Founded'].fillna(0)

In [ ]:
# Convert Founded column from float to int
df4['Founded'] = df4['Founded'].astype(int)

In [ ]:
df4['Stage'] = df4['Stage'].fillna('')

In [ ]:
# Convert Amount($) column from object to float data type

# Remove currency symbol $
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')
df4['Stage'] = df4['Stage'].str.replace('$', '')
df4['Stage'] = df4['Stage'].str.replace(',', '')
df4['Investor'] = df4['Investor'].str.replace('$', '')
df4['Investor'] = df4['Investor'].str.replace(',', '')
df4['Investor'] = df4['Investor'].str.strip()

In [ ]:
# Define a function to check if a string represents an integer
def is_string_integer(s):
    try:
        int(s)
        return True
    except ValueError:
        return False

# Apply the function to the 'Stage' column to create a boolean mask
condition = df4['Stage'].apply(is_string_integer)

# Swap values between 'Stage' and 'Amount($)' columns where condition is True
temp = df4.loc[condition, 'Stage'].copy()
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']
df4.loc[condition, 'Amount($)'] = temp



# df4[['Amount($)', 'Stage']]
df4

In [ ]:
df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4['Amount($)'].isna().sum()

In [ ]:
df4['Amount($)'] = df4['Amount($)'].fillna('0')

In [ ]:
# Define the pattern you want to search for in the 'Amount($)' column
pattern = 'Series'  # Replace 'pattern' with your desired pattern

# Identify rows where the 'Amount($)' column contains the specified pattern
condition = df4['Amount($)'].str.contains(pattern)

# Move the values from 'Amount($)' to 'Stage' where the pattern is found
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']

# Replace the values in 'Amount($)' with NaN where the pattern is found
df4.loc[condition, 'Amount($)'] = pd.NA

df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4['Amount($)'] = df4['Amount($)'].fillna('0')

In [ ]:
# Define the pattern you want to search for in the 'Amount($)' column
pattern = 'Seed'  # Replace 'pattern' with your desired pattern

# Identify rows where the 'Amount($)' column contains the specified pattern
condition = df4['Amount($)'].str.contains(pattern)

# Move the values from 'Amount($)' to 'Stage' where the pattern is found
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']

# Replace the values in 'Amount($)' with NaN where the pattern is found
df4.loc[condition, 'Amount($)'] = pd.NA

df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4['Amount($)'] = df4['Amount($)'].fillna('0')

In [ ]:
# Define the pattern you want to search for in the 'Amount($)' column
pattern = 'Pre-s'  # Replace 'pattern' with your desired pattern

# Identify rows where the 'Amount($)' column contains the specified pattern
condition = df4['Amount($)'].str.contains(pattern)

# Move the values from 'Amount($)' to 'Stage' where the pattern is found
df4.loc[condition, 'Stage'] = df4.loc[condition, 'Amount($)']

# Replace the values in 'Amount($)' with NaN where the pattern is found
df4.loc[condition, 'Amount($)'] = pd.NA

df4.groupby(by = 'Amount($)', as_index = False).sum()

In [ ]:
df4.groupby(by = 'Investor', as_index = False).sum()

In [ ]:
df4['Investor'] = df4['Investor'].fillna('')

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('1000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('5000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('1000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
# Identify rows where 'Investor' column contains '$' symbol
condition = df4['Investor'].str.contains('22000000')

# Move values with '$' symbol from 'Investor' to 'Amount($)' column
df4.loc[condition, 'Amount($)'] = df4.loc[condition, 'Investor']

# Remove the '$' symbol from the 'Amount($)' column
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')
df4['Investor'] = df4['Investor'].str.replace('1000000', 'NA')
df4['Investor'] = df4['Investor'].str.replace('1000000\t#REF!', 'NA')
# Replace remaining values in 'Investor' with NaN
# df4.loc[condition, 'Investor'] = pd.NA

# print(df)

In [ ]:
df4.groupby(by = 'Investor', as_index = False).sum()

In [ ]:
df4.Investor.isna().sum()

In [ ]:
df4.describe().T

In [ ]:
# Convert Amount column from object to float data type

# Remove currency symbol $
df4['Amount($)'] = df4['Amount($)'].str.replace('$', '')

# Remove the comma (,) symbol
df4['Amount($)'] = df4['Amount($)'].str.replace(',', '')
df4['Amount($)'] = df4['Amount($)'].str.replace('', '0')
# Replace all strings longer than 9 character
max_length = 9
df4['Amount($)'] = df4['Amount($)'].apply(lambda x: '0' if len(x) > max_length else x)

# Remove all white spaces
df4['Amount($)'] = df4['Amount($)'].str.strip()

df4['Amount($)'] = df4['Amount($)'].astype(np.float64).round(2)

In [ ]:
df4.isna().sum()

In [ ]:
df4.info()

In [ ]:
# Concatenate all DataFrames along rows
df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# If there are overlapping columns, you can handle them separately if needed

# Print the concatenated DataFrame
df

In [ ]:
df.drop(columns=['column10'], inplace=True)
df

In [ ]:
df.describe().T.round(2)

In [ ]:
df.isna().sum()

In [ ]:
df['Amount($)'].mean().round(2)

In [ ]:
df.head()

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# df.duplicated().sum()

In [ ]:
# df.drop_duplicates()

### Visualizing Characteristics of the Dataset

In [ ]:
# Visualize the distribution of the start-ups' Stage with boxplot
df.plot.box(column='Amount($)', by='Year')

In [ ]:
# Visualize the distribution of the start-ups' Location with boxplot
df.plot.box(column='Amount($)', by='Founded')

In [ ]:
# Distribution of the variables
df.hist(figsize=(20, 15))